      <!-- Paginations links -->
    <section>
      <div class="posts relative mt-6 px-10 sm:px-10">
        <div class="flex justify-center">
          <div class=" flex flex-row space-x-4">
            {% if paginator.total_pages > 1 %}
            <div class="z-30 mt-4 sm:flex sm:justify-center">
              {% if paginator.previous_page %}
                <a
                class="flex justify-center items-center py-4 px-8 w-auto h-14 text-base font-semibold leading-snug bg-dark-500 rounded-full transition ease-in-out duration-250 text-dark-900 hover:text-black focus:outline-none hover:bg-dark-950"
                  href="/blog/{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
                  >&larr; Newer Posts</a
                >
              {% endif %}
            </div>

            <!-- only display the trialing on big screens -->
            <div class="hidden sm:block">
            {% if paginator.page_trail %}
            <div class="z-30 mt-4 sm:flex sm:justify-center">
              <div class="flex flex-row space-x-1">
                {% for trail in paginator.page_trail %}
                <div {% if page.url == trail.path %}class="selected"{% endif %}>
                  <a href="/blog/{{ trail.path | prepend: site.baseurl | remove: "index.html" }}" title="{{trail.title}}" class="flex justify-center items-center py-4 px-8 w-auto h-14 text-base font-semibold leading-snug bg-dark-500 rounded transition ease-in-out duration-250 text-dark-900 hover:text-black focus:outline-none hover:bg-dark-950">{{ trail.num }}</a>
                </div>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
            </div>

            {% if paginator.next_page %}
            <div class="z-30 mt-4 sm:flex sm:justify-center">
              <a
              class="flex justify-center items-center py-4 px-8 w-auto h-14 text-base font-semibold leading-snug bg-dark-500 rounded-full transition ease-in-out duration-250 text-dark-900 hover:text-black focus:outline-none hover:bg-dark-950"
                href="/blog/{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
                >Older Posts &rarr;</a
              >
            </div>
            {% endif %}
          {% endif %}
          </div>
        </div>
      </div>
    </section>