<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div
  class="flex sm:flex-row flex-col border rounded-3xl bg-dark-950 p-4 mt-14 mb-14 items-center"
>
  <div class="w-full">Share this article</div>

  <div class="w-full">
    <div class="flex space-x-4 lg:justify-end">
      <div class="">
        <a
          class=""
          href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
          onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
          title="Share on Facebook"
        >
          <i class="fa fa-facebook-official share-button fa-2x"></i>
        </a>
      </div>

      <div>
        <a
          class="bg-dark-151"
          href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
          onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
          title="Share on Twitter"
        >
          <i class="fa fa-twitter share-button fa-2x"> </i>
        </a>
      </div>

      <div>
        <a
          class="bg-dark-152"
          href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
          onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
          title="Share on LinkedIn"
        >
          <i class="fa fa-linkedin share-button fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  /* Facebook button */
  .fa-facebook-official {
    color: #3b5998;
  }

  /* Twitter button */
  .fa-twitter {
    color: #55acee;
  }

  /* LinkedIn button */
  .fa-linkedin {
    color: #007bb5;
  }
</style>
