<section class='py-12 px-4 md:pt-16 sm:px-6 lg:px-8'>
    <div class='mx-auto max-w-screen-xl'>

      <!-- Hero header -->
      <div class='mx-auto w-full text-center max-w-screen-4xl xl:max-w-5xl'>
        <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
          Our Organization
        </p>  
        <h1 class='mt-6 max-w-2xl mx-auto text-3xl font-extrabold md:mt-5'>
          We help Black founders gain knowledge and obtain resoures to build their tech startup
        </h1>
        <p class='mt-6 mx-auto mt-4 max-w-lg text-lg md:mt-5 text-dark-300 md:max-w-3xl'>
          We have a diverse team of Black professionals from different regions (Afro-Caribbeans, West-Africa, East-Africa, South-Africa and Black Canadians), speaking many languages.
        </p>

        <img src="./images/BBVA_Team.jpg"  class= "mt-6 max-w-3xl mx-auto rounded-3xl" alt="">
      </div>


  </section>