<section class='px-4 pt-10 pb-12 md:pt-12 md:pb-16 sm:px-6 lg:px-8'>
    <div class='mx-auto w-full max-w-screen-xl'>
  
      <!-- Section text -->
      <div class='mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl'>
        <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
          Our Mandate
        </p>
        <h2 class='mt-6 text-3xl font-extrabold'>
          Discover, educate and mentor Black entrepreneurs
        </h2>
        <p class='mt-6 text-lg text-dark-300'>
          
        </p>
      </div>
  
      <!-- Value cards -->
      <div class='grid gap-y-8 mt-12 lg:mt-16 lg:grid-cols-3 lg:gap-x-6 2xl:gap-x-12'>
  
        <!-- Value card -->
        <div class='py-14 px-4 mx-auto w-full max-w-lg rounded-3xl shadow-xl lg:py-16 lg:py-20 lg:px-6 xl:px-12'>
          <div class="mx-auto max-w-sm text-center">
            <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-inner w-18 h-18'>
              <!-- TablerIcon name: flame -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              
            </span>
            <div class="mt-8 text-2xl font-bold ">
              Vision
            </div>
            <p class='mt-3 text-lg leading-relaxed text-dark-300'>
                BBVA envisions a vibrant Canadian technology ecosystem with significant participation from members of the Black community.
            </p>
          </div>
        </div>
  
        <!-- Value card -->
        <div class='py-14 px-4 mx-auto w-full max-w-lg rounded-3xl shadow-xl lg:py-16 lg:py-20 lg:px-6 xl:px-12'>
          <div class="mx-auto max-w-sm text-center">
            <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-inner w-18 h-18 '>
              <!-- TablerIcon name: trending-up -->
              <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto w-10 h-10 text-dark-300" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <polyline points="3 17 9 11 13 15 21 7" />
                <polyline points="14 7 21 7 21 14" />
              </svg> 
            </span>
            <div class="mt-8 text-2xl font-bold ">
              Mission
            </div>
            <p class='mt-3 text-lg leading-relaxed text-dark-300'>
                BBVA is on a mission to help establish 1000 successful, Black-led tech and tech-enabled businesses in Canada by 2030.
            </p>
          </div>
        </div>
  
        <!-- Value card -->
        <div class='py-14 px-4 mx-auto w-full max-w-lg rounded-3xl shadow-xl lg:py-16 lg:py-20 lg:px-6 xl:px-12'>
          <div class="mx-auto max-w-sm text-center">
            <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-inner w-18 h-18 '>
              <!-- TablerIcon name: users -->
              <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto w-10 h-10 text-dark-300" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="9" cy="7" r="4" />
                <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
              </svg>
            </span>
            <div class="mt-8 text-2xl font-bold ">
              Role
            </div>
            <p class='mt-3 text-lg leading-relaxed text-dark-300'>
                BBVA serves as a bridge between the Black community and the technology ecosystem.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>