<section
  class="px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8"
>
  <div class="relative sm:overflow-hidden p-8">
    <div class="flex flex-col">
      <div class="flex flex-col">
        <div>
          <h1 class="text-4xl font-semibold text-center">
            BBVA ACCELERATOR PLAYBOOK
          </h1>
        </div>
        <div class="mt-4">
          <p class="text-2xl text-dark text-center">
            The Black Seed Accelerator uses this Playbook to
            <strong>DESIGN</strong>, <strong>TEST and PITCH</strong> your
            tech-enabled startup
          </p>
        </div>
      </div>
      <div class="mt-4 flex flex-col sm:flex-row sm:space-x-2">
        <div class="flex flex-col mt-4">
          <p class="text-2xl font-semibold">PROBLEM DISCOVERY</p>
          <div class="p-4">
            <ul class="list-disc">
              <li><p class="text-2xl">Design your business models</p></li>
              <li>
                <p class="text-2xl">Identify and prioritize risk assumptions</p>
              </li>
              <li>
                <p class="text-2xl">
                  Communicate and idea clearly with stakeholders
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col mt-4">
          <p class="text-2xl font-semibold">SOLUTION DESIGN</p>
          <div class="p-4">
            <ul class="list-disc">
              <li>
                <p class="text-2xl">Test whether and idea is worth pursuing</p>
              </li>
              <li>
                <p class="text-2xl">
                  Stress-test using small and fast experiments
                </p>
              </li>
              <li>
                <p class="text-2xl">
                  Test customer interviews to learn from customers' responses
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col mt-4">
          <p class="text-2xl font-semibold">FIRST CUSTOMER</p>
          <div class="p-4">
            <ul class="list-disc">
              <li><p class="text-2xl">Practice pitches to customers</p></li>
              <li><p class="text-2xl">Build a company-wide dashboard</p></li>
              <li>
                <p class="text-2xl">
                  Operate and make decisions under conditions of extreme
                  uncertainty
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col mt-4">
          <p class="text-2xl font-semibold">FUNDING SUPPORT</p>
          <div class="p-4">
            <ul class="list-disc">
              <li>
                <p class="text-2xl">Get recommendations for suitable grants</p>
              </li>
              <li><p class="text-2xl">Get support to apply for grants</p></li>
              <li>
                <p class="text-2xl">
                  Meet and establish relationship with interested investors
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center mt-6 items-center">
        <p class="text-4xl font-semibold">Bonus</p>
        <div class="mt-4 text-center">
          <ul class="list-none">
            <li><p class="text-2xl">Bi-weekly coaching calls</p></li>
            <li><p class="text-2xl">Homework & Assignments</p></li>
            <li><p class="text-2xl">1-1 Sessions with coaches</p></li>
            <li>
              <p class="text-2xl">Pop-up workshops from Black Founders</p>
            </li>
            <li><p class="text-2xl">Office hours with BBVA Director</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
