<section
  class="px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8 mt-12"
>
  <!-- Section text -->
  <div class="relative sm:overflow-hidden p-8">
    <div class="flex flex-col">
      <div class="mx-auto w-full max-w-xl lg:max-w-3xl md:max-w-2xl">
        <h2
          class="mt-6 text-4xl font-semibold text-black sm:text-4xl md:text-5xl"
        >
          Join a Cohort of Black-led Tech Startups for a 12-week program
        </h2>
      </div>

      <div class="max-w-xl lg:max-w-4xl md:max-w-2xl mx-auto">
        <p class="mt-4 text-2xl text-dark-200">
          Our Black Seed Accelerator program allows you to leverage our
          expertise and network to grow your idea from vision to a scalable
          startup
        </p>
      </div>

      <div class="flex flex-col">
        <div>
          <h3 class="mt-8 text-3xl font-semibold sm:text-center">
            What We're Looking for
          </h3>
        </div>
        <div class="flex flex-col sm:flex-row mt-4">
          <div class="p-4">
            <p class="text-2xl font-semibold">Founder Composition</p>
            <p class="text-2xl mt-4">
              A Black led founder and preference for a team with a founder and
              co-founder
            </p>
          </div>
          <div class="p-4">
            <p class="text-2xl font-semibold">Early Stage</p>
            <p class="text-2xl mt-4">
              Just starting your business within the past 18 months.
            </p>
          </div>
          <div class="p-4">
            <p class="text-2xl font-semibold">Prairie-base</p>
            <p class="text-2xl mt-4">
              Startup should be based in Alberta, Saskatchewan or Manitoba
            </p>
          </div>
          <div class="p-4">
            <p class="text-2xl font-semibold">Tech-Driven or Tech-Enabled</p>
            <p class="text-2xl mt-4">
              A company or startup where technology is the core part of the
              solution
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
