<section
  class="px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8 mt-20"
>
  <div class="relative sm:overflow-hidden p-8">
      <!-- Section text -->
      <div class='mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl'>
        <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
          Coaches
        </p>
        <h2 class='mt-6 text-3xl font-extrabold text-black sm:text-4xl md:text-5xl'>
          Venture Coaches
        </h2>
        <p class='mt-6 text-lg text-dark-300'>
            Our network of coaches includes a variety of individuals made up of founders, small business owners, early employees from successful startups, and experienced entrepreneurs. 
        </p>
      </div>

    <!-- Team section -->
    <div
      class="grid gap-x-6 gap-y-12 mx-auto mt-12 max-w-6xl lg:mt-16 sm:grid-cols-2 md:grid-cols-3 lg:gap-x-12 lg:gap-y-16"
    >
      <!-- Team member -->
      <div class="flex flex-col items-center">
        <img
          src="images/Omi2.jpg"
          class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
          alt="team member Omi"
        />
        <div class="mt-4 text-center">
          <div class="text-xl font-semibold text-black">Omi Iyamu</div>
          <div class="text-lg font-medium text-dark-400">
            ACE, CTO &amp; Co-Founder, (ex-Google, ex-Microsoft Product Manager)
          </div>
        </div>
      </div>

      <!-- Team member -->
      <div class="flex flex-col items-center">
        <img
          src="images/Aisha.png"
          class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
          alt="team member Aisha"
        />
        <div class="mt-4 text-center">
          <div class="text-xl font-semibold text-black">Aisha Addo</div>
          <div class="text-lg font-medium text-dark-400">
            Power To The Girl Foundation, Founder &amp; Mentor
          </div>
        </div>
      </div>

      <!-- Team member -->
      <div class="flex flex-col items-center">
        <img
          src="images/Emma.png"
          class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
          alt="team member Emma"
        />
        <div class="mt-4 text-center">
          <div class="text-xl font-semibold text-black">
            Emmanuel Oluwatosin
          </div>
          <div class="text-lg font-medium text-dark-400">
            StartupCourt, Director &amp; Co-Founder, (ex- Microsoft, ex- Nokia)
          </div>
        </div>
      </div>

      <!-- Team member -->
      <div class="flex flex-col items-center">
        <img
          src="images/Ijeoma.png"
          class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
          alt="team member Ijeoma"
        />
        <div class="mt-4 text-center">
          <div class="text-xl font-semibold text-black">
            Ijeoma Madueke, CFA
          </div>
          <div class="text-lg font-medium text-dark-400">
            Sustainalytics, Manager
          </div>
        </div>
      </div>

      <!-- Team member -->
      <div class="flex flex-col items-center">
        <img
          src="images/Sahr.png"
          class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
          alt="team member Shar"
        />
        <div class="mt-4 text-center">
          <div class="text-xl font-semibold text-black">Sahr Saffa</div>
          <div class="text-lg font-medium text-dark-400">
            Sauce Labs, Product Marketing Manager
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
