<section
  class="px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8"
>
  <!-- Section text -->
  <div class="relative sm:overflow-hidden p-8">
    <div class="mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl">
      <h2
        class="mt-6 text-4xl font-semibold text-center text-black sm:text-4xl md:text-5xl"
      >
        For Black Tech Founders by Black Industry Experts
      </h2>
    </div>

    <p class="mt-6 text-2xl text-dark-300">
      You have experienced long days, sleepless nights, frustration, and
      overwhelm from the moment you decided to become an entrepreneur.<br /><br />
      We understand. We’ve been there.<br /><br />
      We have struggled to find resources, acceptance, mentorship, and
      funding.<br /><br />
      We have learned how to get into the spaces that investors occupy to turn
      our dreams into reality.<br /><br />
      Our board is filled with Black leaders with decades of experience in
      entrepreneurship, startup funding, and marketing. <br /><br />
      Our Black Seed Accelerator program allows you to leverage our expertise
      and networks to grow your idea from a vision to a scaleable startup.<br /><br />
    </p>
  </div>
</section>
