<section
  class="px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8"
>
  <div class="relative rounded-3xl border sm:overflow-hidden bg-dark-950 p-8">
    <!-- Hero header -->
    <div>
      <h1 class="mt-6 text-4xl font-semibold text-center text-black">
        Accelerate Your Vision and Defy the Odds
      </h1>
    </div>

    <!-- Hero content -->
    <div class="relative mt-6 md:mt-8 lg:mt-12 xl:mt-16">
      <div class="grid z-10 gap-x-8 lg:grid-cols-2">
        <div>
          <p class="max-w-lg text-2xl lg:mx-auto text-dark-300 sm:max-w-3xl">
            When you join the Black Seed Accelerator program, we will help you
            validate your idea against market research. With our BBVA Playbook,
            you will test your assumptions and create a VC-worthy business plan.
            <br /><br />
            Once you have validated your idea, we will leverage our network of
            experts and investors to enhance your influence and expand your
            knowledge. <br /><br />
            Lastly, after you have connected with our network, we will support
            you in your search for funding. We will coach you on how to pitch
            and navigate the startup ecosystem.<br /><br />
            The Black Seed Accelerator program gives you the roadmap to success
            for your tech-enabled startup.
          </p>
          <div class="mt-8 sm:flex sm:justify-start">
            <a
              class="uppercase flex justify-center items-center py-4 px-8 w-auto h-14 text-base font-semibold leading-snug bg-black rounded-full transition ease-in-out duration-250 text-dark-900 hover:text-black focus:outline-none hover:bg-dark-700"
              href="apply.html"
            >
              Apply Now
            </a>
          </div>
        </div>

        <!-- Hero images -->
        <div
          class="grid mx-auto mt-10 md:mt-12 sm:grid-cols-2 sm:gap-x-4 lg:mt-0 sm:mx-0"
        >
          <img
            src="images/accel5.jpg"
            class="object-cover object-center w-full rounded-3xl lg:h-96"
          />
          <img
            src="images/accel2.jpg"
            class="hidden object-cover object-center mt-6 w-full rounded-3xl sm:block sm:mt-0 lg:h-96"
          />
        </div>
      </div>
    </div>
  </div>
</section>
