<section class='px-4 mx-auto w-full max-w-screen-xl sm:px-6 lg:px-8 mt-24'>  

<div>
    <div class="mx-auto text-center px-4 mt-12 text-2xl text-black font-semibold">Frequently Asked Questions</div>
    <dl class="mt-8 mx-auto max-w-screen-sm lg:max-w-screen-lg flex flex-col lg:flex-row lg:flex-wrap">
        <div class="lg:w-1/2">
            <div class="question-and-answer select-none cursor-pointer border-2 mx-8 my-3 px-6 py-4 rounded-lg text-sm group">
                <dt class="question">
                    <div class="flex justify-between">
                        <div class="text-black font-semibold">
                            How does the application process work?
                        </div>
                        <div>
                            <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                                <g>
                                <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                                </g>
                                </g>
                            </svg>
                            <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                                <g>
                                <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12"></polygon>
                                </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </dt>
                <dd class="answer hidden mt-2 leading-snug text-gray-700">
                    We work in 3 phases to access your application.<br />
                    Phase 1: Submit your application online.<br />
                    Phase 2: Shortlisted teams will participate in a virtual interview.<br />
                    Phase 3: Selected candidates will be notified ahead of the program start date.<br />
                </dd>
            </div>
        </div>
        <div class="lg:w-1/2">
            <div class="question-and-answer select-none cursor-pointer border-2 mx-8 my-3 px-6 py-4 rounded-lg text-sm group">
                <dt class="question">
                    <div class="flex justify-between">
                        <div class="text-black font-semibold">
                            When will I know if I’m accepted?
                        </div>
                        <div>
                            <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                                <g>
                                <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                                </g>
                                </g>
                            </svg>
                            <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                                <g>
                                <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12"></polygon>
                                </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </dt>
                <dd class="answer hidden mt-2 leading-snug text-gray-700">
                    By Nov 3rd (the program start date is on Nov 15).
                </dd>
            </div>
        </div>
        <div class="lg:w-1/2">
            <div class="question-and-answer select-none cursor-pointer border-2 mx-8 my-3 px-6 py-4 rounded-lg text-sm group">
                <dt class="question">
                    <div class="flex justify-between">
                        <div class="text-black font-semibold">
                            How is it Canadian Prairie specific?
                        </div>
                        <div>
                            <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                                <g>
                                <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                                </g>
                                </g>
                            </svg>
                            <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                                <g>
                                <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12"></polygon>
                                </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </dt>
                <dd class="answer hidden mt-2 leading-snug text-gray-700">
                    We’re focused on the Prairie region because there are currently no existing programs for Black tech founders in this region.
                </dd>
            </div>
        </div>
        <div class="lg:w-1/2">
            <div class="question-and-answer select-none cursor-pointer border-2 mx-8 my-3 px-6 py-4 rounded-lg text-sm group">
                <dt class="question">
                    <div class="flex justify-between">
                        <div class="text-black font-semibold">
                            Will this be 100% virtual?
                        </div>
                        <div>
                            <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                                <g>
                                <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                                </g>
                                </g>
                            </svg>
                            <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                                <g>
                                <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12"></polygon>
                                </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </dt>
                <dd class="answer hidden mt-2 leading-snug text-gray-700">
                    Yes.
                </dd>
            </div>
        </div>

        <div class="lg:w-1/2">
          <div class="question-and-answer select-none cursor-pointer border-2 mx-8 my-3 px-6 py-4 rounded-lg text-sm group">
              <dt class="question">
                  <div class="flex justify-between">
                      <div class="text-black font-semibold">
                          What language will the program be in?
                      </div>
                      <div>
                          <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                              <g>
                              <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                              </g>
                              </g>
                          </svg>
                          <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                              <g>
                              <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12"></polygon>
                              </g>
                              </g>
                          </svg>
                      </div>
                  </div>
              </dt>
              <dd class="answer hidden mt-2 leading-snug text-gray-700">
                  English.
              </dd>
          </div>
      </div>

      <div class="lg:w-1/2">
        <div class="question-and-answer select-none cursor-pointer border-2 mx-8 my-3 px-6 py-4 rounded-lg text-sm group">
            <dt class="question">
                <div class="flex justify-between">
                    <div class="text-black font-semibold">
                      How demanding is the program?
                    </div>
                    <div>
                        <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                            <g>
                            <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                            </g>
                            </g>
                        </svg>
                        <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                            <g>
                            <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12"></polygon>
                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </dt>
            <dd class="answer hidden mt-2 leading-snug text-gray-700">
                We recommend that you allocate 15-20 hours a week to get the most out of the accelerator.
            </dd>
        </div>
    </div>

    <div class="lg:w-1/2">
      <div class="question-and-answer select-none cursor-pointer border-2 mx-8 my-3 px-6 py-4 rounded-lg text-sm group">
          <dt class="question">
              <div class="flex justify-between">
                  <div class="text-black font-semibold">
                      Is there a fixed schedule?
                  </div>
                  <div>
                      <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                          <g>
                          <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                          </g>
                          </g>
                      </svg>
                      <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                          <g>
                          <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12"></polygon>
                          </g>
                          </g>
                      </svg>
                  </div>
              </div>
          </dt>
          <dd class="answer hidden mt-2 leading-snug text-gray-700">
              Although this is a live program, startup teams are expected to complete biweekly sprint activities and course modules for their startups and will held accountable by their coaches at a biweekly meeting.
          </dd>
      </div>
  </div>

  <div class="lg:w-1/2">
    <div class="question-and-answer select-none cursor-pointer border-2 mx-8 my-3 px-6 py-4 rounded-lg text-sm group">
        <dt class="question">
            <div class="flex justify-between">
                <div class="text-black font-semibold">
                    Do we need to have a team?
                </div>
                <div>
                    <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                        <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                        </g>
                        </g>
                    </svg>
                    <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                        <g>
                        <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12"></polygon>
                        </g>
                        </g>
                    </svg>
                </div>
            </div>
        </dt>
        <dd class="answer hidden mt-2 leading-snug text-gray-700">
            Ideally, we’d prefer that you have a co-founder or another person working with the founder and part of the program. If you already have a multi-disciplinary team of 3-5 people and would like to work together on the same company project, you can participate as a team.
        </dd>
    </div>
</div>

<div class="lg:w-1/2">
  <div class="question-and-answer select-none cursor-pointer border-2 mx-8 my-3 px-6 py-4 rounded-lg text-sm group">
      <dt class="question">
          <div class="flex justify-between">
              <div class="text-black font-semibold">
                  How early do you mean? (What is the ideal stage for my startup to be a part of the program?)
              </div>
              <div>
                  <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                      <g>
                      <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                      </g>
                      </g>
                  </svg>
                  <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                      <g>
                      <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12"></polygon>
                      </g>
                      </g>
                  </svg>
              </div>
          </div>
      </dt>
      <dd class="answer hidden mt-2 leading-snug text-gray-700">
          We’re looking for early stage companies, either registered or planned to be registered, with an MVP or initial MVP, with early traction or no traction yet, by underrepresented founders with global market potential.
      </dd>
  </div>
</div>

<div class="lg:w-1/2">
  <div class="question-and-answer select-none cursor-pointer border-2 mx-8 my-3 px-6 py-4 rounded-lg text-sm group">
      <dt class="question">
          <div class="flex justify-between">
              <div class="text-black font-semibold">
                  Why is BBVA doing this?
              </div>
              <div>
                  <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                      <g>
                      <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                      </g>
                      </g>
                  </svg>
                  <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                      <g>
                      <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12"></polygon>
                      </g>
                      </g>
                  </svg>
              </div>
          </div>
      </dt>
      <dd class="answer hidden mt-2 leading-snug text-gray-700">
          Our goal is to have more black founders start and succeed in their technology business. We do this by connecting the black community to the resources available in the technology ecosystem.
      </dd>
  </div>
</div>

<div class="lg:w-1/2">
  <div class="question-and-answer select-none cursor-pointer border-2 mx-8 my-3 px-6 py-4 rounded-lg text-sm group">
      <dt class="question">
          <div class="flex justify-between">
              <div class="text-black font-semibold">
                  What happens after the program?
              </div>
              <div>
                  <svg fill=currentColor class="question-chevron group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                      <g>
                      <polygon points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                      </g>
                      </g>
                  </svg>
                  <svg fill=currentColor class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-black bg-gray-400 rounded-full p-1" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="currentColor" stroke-width="1" fill=currentColor fill-rule="evenodd">
                      <g>
                      <polygon points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12"></polygon>
                      </g>
                      </g>
                  </svg>
              </div>
          </div>
      </dt>
      <dd class="answer hidden mt-2 leading-snug text-gray-700">
          At the end of the program founders are expected to have their first paying customers and confidence about their business idea. In addition, founders will understand the next steps or actions required for them to grow and scale their business. They will also be equipped with the knowledge on how to access local resources ( financial, mentorship and partnerships) required for them to grow their startup.
      </dd>
  </div>
</div>

    </dl>
</div>

    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>
        <script>
            $('.question-and-answer').click(function() {
                $(this).find(".answer").toggleClass("hidden")
                $(this).find(".question-chevron").toggleClass("hidden")
            })
        </script>
</section>
  