<div class="carousel relative rounded relative overflow-hidden shadow-xl">
    <div class="carousel-inner relative overflow-hidden w-full">
      <!--Slide 1-->
      <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
        checked="checked">
      <div class="carousel-item absolute opacity-0 bg-center" style="height:700px; background-image: url(https://mdbootstrap.com/img/new/slides/052.jpg)">
        <div class="absolute bottom-0 left-0 w-full">
          <div class='flex overflow-hidden object-none object-center relative py-12 px-4 max-w-4xl mx-auto bg-white sm:px-6 lg:px-8 mb-10'>
            <div class="z-10 mx-auto">
              <p class="mx-auto max-w-2xl uppercase text-4xl font-extrabold text-center tracking-widest text-black">
                From Idea to Industry-Leading Startup
              </p>
  
              <p class="mx-auto max-w-3xl text-lg font-normal text-center tracking-wider text-dark-500 mt-5">
                  Join the Black Seed Accelerator program for Black-led tech and tech-enabled startups and turn your idea into paying clients in 12 weeks.
                </p>
              <footer class="mt-8">
                <!-- Hero buttons -->
                <div class='z-30 mt-10 sm:flex sm:justify-center mx-auto'>
                  <a class="flex justify-center items-center py-4 px-20 w-auto h-14 text-xl font-semibold leading-snug bg-brand-dark transition ease-in-out duration-250 text-black hover:text-black focus:outline-none hover:bg-dark-900" href="contact.html">
                    Join Now!
                  </a>
                </div>
              </footer>
            </div>
          </div>
  
          <div class="bg-dark-900 bg-opacity-75 h-10 w-full grid grid-cols-3 gap-4 pt-5 pb-20">
              <div class="text-xl font-medium text-black text-center">Validate Your Idea</div>
              <div class="text-xl font-medium text-black text-center">Connect with Coaches</div>
              <div class="text-xl font-medium text-black text-center">Find Funding</div>
          </div>
        </div>
      </div>
      <label for="carousel-3"
        class="control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-black rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto flex justify-center content-center"><i
          class="fas fa-angle-left mt-3"></i></label>
      <label for="carousel-2"
        class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-black rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
          class="fas fa-angle-right mt-3"></i></label>
  
      <!--Slide 2-->
      <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
      <div class="carousel-item absolute opacity-0 bg-center bg-white" style="height:700px">
        <div class="relative py-16 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:auto-rows-max lg:gap-x-8 xl:gap-x-12 sm:px-6 sm:py-24 lg:py-32 lg:px-8">

          <div class='flex flex-col justify-center items-center lg:items-start'>
            <div class='mx-auto mt-6 w-full max-w-lg text-center lg:text-center lg:max-w-none md:max-w-2xl'>
              <h1 class="text-4xl font-extrabold text-black sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
                  The system doesnt want you to win
              </h1>
            </div>
          </div>

          <div class='flex justify-center items-center mx-auto mt-12 max-w-xl sm:mt-16 lg:mt-0 lg:max-w-none'>
            <div class='mx-auto mt-6 w-full max-w-lg text-left lg:text-left lg:max-w-none md:max-w-2xl'>
              <p class="text-xl font-normal text-black sm:text-xl tracking-wider leading-loose">
                  Overall, around 20% of startups fail within the first year of creation. For black-led startups, that percentage increases to over 80%. <br /><br />
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. <br /><br />
                  The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
              </p>
            </div>
          </div>
        </div>
      </div>
      <label for="carousel-1"
        class=" control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-black rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
          class="fas fa-angle-left mt-3"></i></label>
      <label for="carousel-3"
        class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-black rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
          class="fas fa-angle-right mt-3"></i></label>
  
      <!--Slide 3-->
      <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
      <div class="carousel-item absolute opacity-0" style="height:700px; background-image: url(https://mdbootstrap.com/img/new/slides/054.jpg)">
      </div>
      <label for="carousel-2"
        class="control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-black rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"><i
          class="fas fa-angle-left mt-3"></i></label>
      <label for="carousel-1"
        class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-black rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"><i
          class="fas fa-angle-right mt-3"></i></label>
  
      <!-- Add additional indicators for each slide-->
      <ol class="carousel-indicators">
        <li class="inline-block mr-3">
          <label for="carousel-1"
            class="carousel-bullet cursor-pointer block text-4xl text-black hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="carousel-2"
            class="carousel-bullet cursor-pointer block text-4xl text-black hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="carousel-3"
            class="carousel-bullet cursor-pointer block text-4xl text-black hover:text-blue-700">•</label>
        </li>
      </ol>
  
    </div>
  </div>