<section
  class="px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8"
>
  <!-- Features container -->
  <div class="relative border rounded-3xl bg-dark-950 sm:overflow-hidden p-10">
    <!-- Feature -->
    <div
      class="px-0 w-full md:grid md:grid-cols-2 lg:gap-x-12 xl:gap-x-36 md:gap-8 lg:px-6"
    >
      <!-- Feature text -->
      <div
        class="flex flex-col justify-center px-4 sm:px-6 md:pl-0 md:order-2 lg:px-0"
      >
        <div></div>
        <h3
          class="mt-4 text-4xl font-semibold text-black md:mt-6 sm:text-4xl lg:text-5xl"
        >
          What's inside
        </h3>
        <h4 class="mt-8 text-3xl font-semibold">
          Black Seed Accelerator Program
        </h4>
        <p class="mt-3 text-base md:mt-6 text-2xl">
          This program is designed to address the needs of Black-led tech and
          tech enabled startups. From gaining support through the BBVA Playbooks
          to accessing funding to scale your business.
        </p>

        <h4 class="mt-8 text-3xl font-semibold">What you Learn:</h4>
        <ul class="list-disc mt-3 text-base md:mt-6 text-dark-300 ml-5">
          <li class="text-2xl">How to design business models.</li>
          <li class="text-2xl">
            How to test whether an idea is worth pursuing.
          </li>
          <li class="text-2xl">
            How to communicate an idea clearly and concisely to internal and
            external stakeholders.
          </li>
          <li class="text-2xl">
            How to identify and prioritize the riskiest assumptions in your
            business model.
          </li>
          <li class="text-2xl">
            How to stress test your riskiest assumptions using small and fast
            experiments.
          </li>
          <li class="text-2xl">
            How to use customer interviews to learn from customers.
          </li>
          <li class="text-2xl">How to build a company-wide dashboard.</li>
          <li class="text-2xl">How to pitch to customers.</li>
          <li class="text-2xl">
            How to operate and make decisions under conditions of extreme
            uncertainty.
          </li>
        </ul>

        <h4 class="mt-8 text-2xl font-semibold text-dark-100">Bonus:</h4>
        <ol class="list-decimal mt-3 text-base md:mt-6 text-dark-300 ml-5">
          <li class="text-2xl">Bi-weekly coaching calls</li>
          <li class="text-2xl">Homework &amp; Assignments</li>
          <li class="text-2xl">1-1 Sessions</li>
          <li class="text-2xl">
            Pop-up workshops including raising capital as a Black founder
          </li>
          <li class="text-2xl">Office hours with BBVA Director</li>
        </ol>
      </div>

      <!-- Feature image -->
      <div
        class="mt-10 md:mt-0 relative w-full md:rounded-r-3xl lg:rounded-l-3xl pt-11/12 md:order-1"
      >
        <img
          src="images/accel1.jpg"
          class="object-cover object-center absolute inset-y-0 w-full h-full md:rounded-r-3xl lg:rounded-l-3xl"
        />
      </div>
    </div>
  </div>
</section>
