<section
  class="px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8"
>
  <div class="relative sm:overflow-hidden mt-14 p-8">
    <!-- Section text -->
    <div class="mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl">
      <h2
        class="mt-6 text-4xl font-semibold text-black sm:text-4xl md:text-5xl"
      >
        The Program
      </h2>
    </div>

    <!-- Team section -->
    <div
      class="grid gap-x-6 gap-y-12 mx-auto mt-12 max-w-6xl lg:mt-16 sm:grid-cols-2 lg:grid-cols-4 lg:gap-x-12 lg:gap-y-16"
    >
      <!-- Team member -->
      <div
        class="flex flex-col items-center"
        data-aos="fade-right"
        data-aos-duration="500"
      >
        <div
          class="object-cover object-center w-48 h-48 rounded-full shadow-xl p-10 bg-white"
        >
          <!-- TablerIcon name: number-1 -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-number-1 w-full h-full"
            width="44"
            height="44"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#2c3e50"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M13 20v-16l-5 5" />
          </svg>
        </div>
        <div class="mt-4 text-center">
          <div class="text-xl font-semibold text-black">Applications Open</div>
          <div class="text-lg font-medium text-dark-400">
            May 2<sup>nd</sup>, 2022
          </div>
        </div>
      </div>

      <!-- Team member -->
      <div
        class="flex flex-col items-center"
        data-aos="fade-right"
        data-aos-duration="900"
      >
        <div
          class="object-cover object-center w-48 h-48 rounded-full shadow-xl p-10 bg-white"
        >
          <!-- TablerIcon name: number-2 -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-number-2 w-full h-full"
            width="44"
            height="44"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#2c3e50"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M8 8a4 4 0 1 1 8 0c0 1.098 -.564 2.025 -1.159 2.815l-6.841 9.185h8"
            />
          </svg>
        </div>
        <div class="mt-4 text-center">
          <div class="text-xl font-semibold text-black">Applications Close</div>
          <div class="text-lg font-medium text-dark-400">
            August 30<sup>th</sup>, 2022
          </div>
        </div>
      </div>

      <!-- Team member -->
      <div
        class="flex flex-col items-center"
        data-aos="fade-right"
        data-aos-duration="1200"
      >
        <div
          class="object-cover object-center w-48 h-48 rounded-full shadow-xl p-10 bg-white"
        >
          <!-- TablerIcon name: number-3 -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-number-3 w-full h-full"
            width="44"
            height="44"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#2c3e50"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12a4 4 0 1 0 -4 -4" />
            <path d="M8 16a4 4 0 1 0 4 -4" />
          </svg>
        </div>
        <div class="mt-4 text-center">
          <div class="text-xl font-semibold text-black">Program Starts</div>
          <div class="text-lg font-medium text-dark-400">
            September 13<sup>th</sup>, 2022
          </div>
        </div>
      </div>

      <!-- Team member -->
      <div
        class="flex flex-col items-center"
        data-aos="fade-right"
        data-aos-duration="1500"
      >
        <div
          class="object-cover object-center w-48 h-48 rounded-full shadow-xl p-10 bg-white"
        >
          <!-- TablerIcon name: number-4 -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-number-4 w-full h-full"
            width="44"
            height="44"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#2c3e50"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M15 20v-15l-8 11h10" />
          </svg>
        </div>
        <div class="mt-4 text-center">
          <div class="text-xl font-semibold text-black">Program Ends</div>
          <div class="text-lg font-medium text-dark-400">
            November 29<sup>th</sup>, 2022
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex justify-center mt-14"
      data-aos="zoom-in"
      data-aos-duration="1000"
    >
      <div>
        <a
          class="flex justify-center items-center py-4 px-8 w-64 h-14 text-2xl font-semibold leading-snug bg-black rounded-full transition ease-in-out duration-250 text-dark-900 hover:text-black focus:outline-none hover:bg-dark-900"
          href="apply.html"
        >
          Apply Now!
        </a>
      </div>
    </div>
  </div>
</section>
