<section
  class="px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8 mt-12"
>
  <div class="relative rounded-3xl border sm:overflow-hidden bg-dark-950 p-8">
    <!-- Section text -->
    <div class="mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl">
      <h2
        class="mt-6 text-4xl font-semibold text-black sm:text-4xl md:text-5xl"
      >
        Program Features
      </h2>
    </div>

    <!-- Logos -->
    <div class="mt-4 flex flex-col sm:flex-row justify-around items-center">
      <div class="flex-row flex-col p-4 text-center">
        <div
          class="flex justify-center items-center"
          data-aos="fade-right"
          data-aos-duration="900"
        >
          <svg
            class="h-20 w-20 text-black"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <rect x="2" y="3" width="20" height="14" rx="2" ry="2" />
            <line x1="8" y1="21" x2="16" y2="21" />
            <line x1="12" y1="17" x2="12" y2="21" />
          </svg>
        </div>
        <div class="flex flex-col mt-2">
          <div>
            <p class="text-2xl font-semibold">100% Online</p>
          </div>
          <div class="">
            <p class="text-2xl">
              Access 100% virtual online curriculum, mentorship and networks
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col p-4 text-center">
        <div
          class="flex justify-center items-center"
          data-aos="fade-right"
          data-aos-duration="1300"
        >
          <svg
            class="h-20 w-20 text-black"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
            <circle cx="8.5" cy="7" r="4" />
            <polyline points="17 11 19 13 23 9" />
          </svg>
        </div>
        <div class="flex flex-col mt-2">
          <div>
            <p class="text-2xl font-semibold">Early-Stage</p>
          </div>
          <div class="">
            <p class="text-2xl">
              Focusing on early-stage companies, registered by Black-led tech
              founders with global market potential
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col p-4 text-center">
        <div
          class="flex justify-center"
          data-aos="fade-right"
          data-aos-duration="1600"
        >
          <svg
            class="h-20 w-20 text-black"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
        <div class="flex flex-col mt-2">
          <div>
            <p class="text-2xl font-semibold">Equity Free</p>
          </div>
          <div class="">
            <p class="text-2xl">
              We do not require any equity from your startup. We value your time
              and commitment
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex justify-center mt-4"
      data-aos="zoom-in"
      data-aos-duration="1000"
    >
      <div>
        <a
          class="flex justify-center items-center py-4 px-8 w-64 h-14 text-2xl font-semibold leading-snug bg-black rounded-full transition ease-in-out duration-250 text-dark-900 hover:text-black focus:outline-none hover:bg-dark-900"
          href="apply.html"
        >
          Apply Now!
        </a>
      </div>
    </div>
  </div>
</section>
