<section
  class="px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8 mt-12"
>
  <!-- Section text -->
  <div class="container mx-auto p-10">
    <h3 class="mt-6 font-semibold text-center text-4xl">
      Frequently Asked Questions
    </h3>

    <div class="w-full mt-10">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item bg-white border">
          <h2 class="accordion-header mb-0" id="headingOne">
            <button
              class="accordion-button relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <p class="text-3xl font-semibold text-left p-4">
                How does the application process work?
              </p>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-2xl text-left p-4">
                We work in 3 phases to access your application.<br />
                Phase 1: Submit your application online.<br />
                Phase 2: Shortlisted teams will participate in a virtual
                interview.<br />
                Phase 3: Selected candidates will be notified ahead of the
                program start date.<br />
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-white border border-gray-200">
          <h2 class="accordion-header mb-0" id="headingTwo">
            <button
              class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <p class="text-3xl font-semibold text-left p-4">
                When will I know if I’m accepted?
              </p>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-2xl text-left p-4">
                By September 5<sup>nd</sup> (The program start date is on
                September 13<sup>th</sup> ).
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-white border border-gray-200">
          <h2 class="accordion-header mb-0" id="headingThree">
            <button
              class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <p class="text-3xl font-semibold text-left p-4">
                How is it Canadian Prairie specific?
              </p>
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-2xl text-left p-4">
                We’re focused on the Prairie region because there are currently
                no existing programs for Black tech founders in this region.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-white border border-gray-200">
          <h2 class="accordion-header mb-0" id="headingFour">
            <button
              class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              <p class="text-3xl font-semibold text-left p-4">
                Will this be 100% virtual?
              </p>
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-2xl text-left p-4">Yes.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-white border border-gray-200">
          <h2 class="accordion-header mb-0" id="headingFive">
            <button
              class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              <p class="text-3xl font-semibold text-left p-4">
                What language will the program be in?
              </p>
            </button>
          </h2>
          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="headingFive"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-2xl text-left p-4">English.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-white border border-gray-200">
          <h2 class="accordion-header mb-0" id="headingSix">
            <button
              class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              <p class="text-3xl font-semibold text-left p-4">
                How demanding is the program?
              </p>
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="headingSix"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-2xl text-left p-4">
                We recommend that you allocate 15-20 hours a week to get the
                most out of the accelerator.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-white border border-gray-200">
          <h2 class="accordion-header mb-0" id="headingSeven">
            <button
              class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSeven"
              aria-expanded="false"
              aria-controls="collapseSeven"
            >
              <p class="text-3xl font-semibold text-left p-4">
                Is there a fixed schedule?
              </p>
            </button>
          </h2>
          <div
            id="collapseSeven"
            class="accordion-collapse collapse"
            aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-2xl text-left p-4">
                Although this is a live program, startup teams are expected to
                complete biweekly sprint activities and course modules for their
                startups and will held accountable by their coaches at a
                biweekly meeting.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-white border border-gray-200">
          <h2 class="accordion-header mb-0" id="headingEight">
            <button
              class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseEight"
              aria-expanded="false"
              aria-controls="collapseEight"
            >
              <p class="text-3xl font-semibold text-left p-4">
                Do we need to have a team?
              </p>
            </button>
          </h2>
          <div
            id="collapseEight"
            class="accordion-collapse collapse"
            aria-labelledby="headingEight"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-2xl text-left p-4">
                Ideally, we’d prefer that you have a co-founder or another
                person working with the founder and part of the program. If you
                already have a multi-disciplinary team of 3-5 people and would
                like to work together on the same company project, you can
                participate as a team.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-white border border-gray-200">
          <h2 class="accordion-header mb-0" id="headingNine">
            <button
              class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseNine"
              aria-expanded="false"
              aria-controls="collapseNine"
            >
              <p class="text-3xl font-semibold text-left p-4">
                How early do you mean? (What is the ideal stage for my startup
                to be a part of the program?)
              </p>
            </button>
          </h2>
          <div
            id="collapseNine"
            class="accordion-collapse collapse"
            aria-labelledby="headingNine"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-2xl text-left p-4">
                We’re looking for early stage companies, either registered or
                planned to be registered, with an MVP or initial MVP, with early
                traction or no traction yet, by underrepresented founders with
                global market potential.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-white border border-gray-200">
          <h2 class="accordion-header mb-0" id="headingTen">
            <button
              class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTen"
              aria-expanded="false"
              aria-controls="collapseTen"
            >
              <p class="text-3xl font-semibold text-left p-4">
                Why is BBVA doing this?
              </p>
            </button>
          </h2>
          <div
            id="collapseTen"
            class="accordion-collapse collapse"
            aria-labelledby="headingTen"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-2xl text-left p-4">
                Our goal is to have more black founders start and succeed in
                their technology business. We do this by connecting the black
                community to the resources available in the technology
                ecosystem.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-white border">
          <h2 class="accordion-header mb-0" id="headingEleven">
            <button
              class="accordion-button collapsed relative flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseEleven"
              aria-expanded="false"
              aria-controls="collapseEleven"
            >
              <p class="text-3xl font-semibold text-left p-4">
                What happens after the program?
              </p>
            </button>
          </h2>
          <div
            id="collapseEleven"
            class="accordion-collapse collapse"
            aria-labelledby="headingEleven"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body py-4 px-5">
              <p class="text-2xl text-left p-4">
                At the end of the program founders are expected to have their
                first paying customers and confidence about their business idea.
                In addition, founders will understand the next steps or actions
                required for them to grow and scale their business. They will
                also be equipped with the knowledge on how to access local
                resources ( financial, mentorship and partnerships) required for
                them to grow their startup.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
