<section
  class="px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8"
>
  <!-- Hero card -->
  <div class="relative rounded-3xl shadow-xl sm:overflow-hidden bg-dark-700">
    <div
      class="bg-center"
      style="
        height: 700px;
        background-image: url(https://mdbootstrap.com/img/new/slides/052.jpg);
      "
    >
      <div class="absolute bottom-0 left-0 w-full">
        <div
          class="flex overflow-hidden object-none object-center relative py-12 px-4 max-w-4xl mx-auto bg-white sm:px-6 lg:px-8 mb-10"
        >
          <div class="z-10 mx-auto">
            <p
              class="mx-auto max-w-2xl uppercase text-4xl font-extrabold text-center tracking-widest text-black"
            >
              From Idea to Industry-Leading Startup
            </p>

            <p
              class="mx-auto max-w-3xl text-lg font-normal text-center tracking-wider text-dark-500 mt-5"
            >
              Join the Black Seed Accelerator program for Black-led tech and
              tech-enabled startups and turn your idea into paying clients in 12
              weeks.
            </p>
            <footer class="mt-8">
              <!-- Hero buttons -->
              <div class="z-30 mt-10 sm:flex sm:justify-center mx-auto">
                <a
                  class="uppercase flex justify-center items-center py-4 px-20 w-auto h-14 text-xl font-semibold leading-snug bg-brand-dark transition ease-in-out duration-250 text-black hover:text-black focus:outline-none hover:bg-dark-900"
                  href="apply.html"
                >
                  Apply Now
                </a>
              </div>
            </footer>
          </div>
        </div>

        <div
          class="bg-dark-900 bg-opacity-75 h-10 w-full grid grid-cols-3 gap-4 pt-5 pb-20"
        >
          <div class="text-xl font-medium text-black text-center">
            Validate Your Idea
          </div>
          <div class="text-xl font-medium text-black text-center">
            Connect with Coaches
          </div>
          <div class="text-xl font-medium text-black text-center">
            Find Funding
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
