<section
  class="bbva-u px-4 pt-6 pb-12 mx-auto max-w-screen-lg md:pb-16 sm:px-6 lg:px-8"
>
  <div class="relative sm:overflow-hidden">
    <div class="flex flex-col">
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <div>
          <h1 class="text-2xl font-bold">Startup Funding</h1>
        </div>
        <div>
          <a href="https://blackventures.org/blog/category/startup-funding/">
            <h1 class="hover:underline">More on Startup Funding</h1>
          </a>
        </div>
      </div>

      <div class="relative border bg-dark-950 my-4"></div>

      <div class="flex flex-col sm:flex-row justify-between sm:space-x-8">
        <div class="">
          <div class="flex flex-col">
            <div class="grow">
              <div class="">
                <a
                  href="https://blackventures.org/blog/startup%20funding/2022/04/18/the-purolator-2022-true-north-small-business-grant-contest-for-canadian-small-businesses/"
                >
                  <img
                    class="object-cover w-96 h-48 overflow-visible"
                    src="https://blackventures.org/blog/images/uploads/plurator-true-north-small-business-grants-2022.jpg"
                    alt="the lean startup"
                  />
                </a>
              </div>
            </div>
            <div class="my-4">
              <a
                href="https://blackventures.org/blog/startup%20funding/2022/04/18/the-purolator-2022-true-north-small-business-grant-contest-for-canadian-small-businesses/"
              >
                <h1 class="text-lg font-semibold hover:underline">
                  The Purolator 2022 True <br />
                  North Small Business Grant <br />
                  Contest for Canadian small businesses
                </h1>
              </a>
            </div>
          </div>
        </div>
        <div class="relative border bg-dark-950 my-4 block sm:hidden"></div>

        <div class="">
          <div class="flex flex-col">
            <div class="grow">
              <div class="">
                <a
                  href="https://blackventures.org/blog/startup%20funding/2022/02/21/visa-canada-shes-next-grant-program-2022-for-canadian-women-entrepreneurs/"
                >
                  <img
                    class="object-cover w-96 h-48 overflow-visible"
                    src="https://blackventures.org/blog/images/uploads/visa-canada-shes-next-grant-program-2022.jpg"
                    alt="the lean startup"
                  />
                </a>
              </div>
            </div>
            <div class="my-4">
              <a
                href="https://blackventures.org/blog/startup%20funding/2022/02/21/visa-canada-shes-next-grant-program-2022-for-canadian-women-entrepreneurs/"
              >
                <h1 class="text-lg font-semibold hover:underline">
                  Visa Canada She's Next <br />
                  Grant Program 2022 for <br />
                  Canadian Women Entrepreneurs
                </h1>
              </a>
            </div>
          </div>
        </div>
        <div class="relative border bg-dark-950 my-4 block sm:hidden"></div>

        <div class="">
          <div class="flex flex-col">
            <div class="grow">
              <div class="">
                <a
                  href="https://blackventures.org/blog/startup%20funding/2022/02/16/top-5-canadian-bank-support-programs-for-black-entrepreneurs/"
                >
                  <img
                    class="object-cover w-96 h-48 overflow-visible"
                    src="https://blackventures.org/blog/images/uploads/canadian-banks-program-for-black-entrepreneur.jpg"
                    alt="the lean startup"
                  />
                </a>
              </div>
            </div>
            <div class="my-4">
              <a
                href="https://blackventures.org/blog/startup%20funding/2022/02/16/top-5-canadian-bank-support-programs-for-black-entrepreneurs/"
              >
                <h1 class="text-lg font-semibold hover:underline">
                  Top 5 Canadian Bank <br />
                  Support Programs for Black Entrepreneurs
                </h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
