<section
  class="bbva-u px-4 pt-6 pb-12 mx-auto max-w-screen-lg md:pb-16 sm:px-6 lg:px-8"
>
  <div class="relative sm:overflow-hidden">
    <div class="flex flex-col">
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <div>
          <h1 class="text-2xl font-bold">LEANSTACK</h1>
        </div>
        <div>
          <a href="https://blackventures.org/blog/category/leanstack/">
            <h1 class="hover:underline">More on Leanstack</h1>
          </a>
        </div>
      </div>

      <div class="relative border bg-dark-950 my-4"></div>

      <div class="flex flex-col sm:flex-row justify-between sm:space-x-8">
        <div class="">
          <div class="flex flex-col">
            <div class="grow">
              <div class="">
                <a
                  href="https://blackventures.org/blog/leanstack/2022/01/14/the-lean-startup/"
                >
                  <img
                    class="object-cover w-96 h-48 overflow-visible"
                    src="https://blackventures.org/blog/images/uploads/build-measure-learn.jpeg"
                    alt="the lean startup"
                  />
                </a>
              </div>
            </div>
            <div class="my-4">
              <a
                href="https://blackventures.org/blog/leanstack/2022/01/14/the-lean-startup/"
              >
                <h1 class="text-lg font-semibold hover:underline">
                  The Lean Startup
                </h1>
              </a>
            </div>
          </div>
        </div>
        <div class="relative border bg-dark-950 my-4 block sm:hidden"></div>

        <div class="">
          <div class="flex flex-col">
            <div class="grow">
              <div class="">
                <a
                  href="https://blackventures.org/blog/leanstack/2022/01/20/the-leanstack-framework/"
                >
                  <img
                    class="object-cover w-96 h-48 overflow-visible"
                    src="https://blackventures.org/blog/images/uploads/leanstack.png"
                    alt="the lean startup"
                  />
                </a>
              </div>
            </div>
            <div class="my-4">
              <a
                href="https://blackventures.org/blog/leanstack/2022/01/20/the-leanstack-framework/"
              >
                <h1 class="text-lg font-semibold hover:underline">
                  The LEANSTACK Framework
                </h1>
              </a>
            </div>
          </div>
        </div>
        <div class="relative border bg-dark-950 my-4 block sm:hidden"></div>

        <div class="">
          <div class="flex flex-col">
            <div class="grow">
              <div class="">
                <a
                  href="https://blackventures.org/blog/leanstack/2022/01/21/the-lean-canvas/"
                >
                  <img
                    class="object-cover w-96 h-48 overflow-visible"
                    src="https://blackventures.org/blog/images/uploads/lean-canvas_ash_mauray.jpeg"
                    alt="the lean startup"
                  />
                </a>
              </div>
            </div>
            <div class="my-4">
              <a
                href="https://blackventures.org/blog/leanstack/2022/01/21/the-lean-canvas/"
              >
                <h1 class="text-lg font-semibold hover:underline">
                  The Lean Canvas
                </h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
