<section
  class="bbva-u px-4 pt-6 pb-12 mx-auto max-w-screen-lg md:pb-16 sm:px-6 lg:px-8"
>
  <div class="relative sm:overflow-hidden">
    <div class="flex flex-col">
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <div>
          <h1 class="text-2xl font-bold">Ideation</h1>
        </div>
        <div>
          <a href="https://blackventures.org/blog/category/ideation/">
            <h1 class="hover:underline">More on Ideation</h1>
          </a>
        </div>
      </div>

      <div class="relative border bg-dark-950 my-4"></div>

      <div class="flex flex-col sm:flex-row justify-between sm:space-x-8">
        <div class="">
          <div class="flex flex-col">
            <div class="grow">
              <div class="">
                <a
                  href="https://blackventures.org/blog/ideation/2022/04/22/naming-your-business/"
                >
                  <img
                    class="object-cover w-96 h-48 overflow-visible"
                    src="https://blackventures.org/blog/images/uploads/naming-your-business.jpg"
                    alt="the lean startup"
                  />
                </a>
              </div>
            </div>
            <div class="my-4">
              <a
                href="https://blackventures.org/blog/ideation/2022/04/22/naming-your-business/"
              >
                <h1 class="text-lg font-semibold hover:underline">
                  Naming your Business
                </h1>
              </a>
            </div>
          </div>
        </div>
        <div class="relative border bg-dark-950 my-4 block sm:hidden"></div>

        <div class="">
          <div class="flex flex-col">
            <div class="grow">
              <div class="">
                <a
                  href="https://blackventures.org/blog/ideation/2022/03/29/the-prism-framework-for-idea-generation/"
                >
                  <img
                    class="object-cover w-96 h-48 overflow-visible"
                    src="https://blackventures.org/blog/images/uploads/the-prism-framework.jpg"
                    alt="the lean startup"
                  />
                </a>
              </div>
            </div>
            <div class="my-4">
              <a
                href="https://blackventures.org/blog/ideation/2022/03/29/the-prism-framework-for-idea-generation/"
              >
                <h1 class="text-lg font-semibold hover:underline">
                  The PRISM Framework for Idea Generation
                </h1>
              </a>
            </div>
          </div>
        </div>
        <div class="relative border bg-dark-950 my-4 block sm:hidden"></div>

        <div class="">
          <div class="flex flex-col">
            <div class="grow">
              <div class="">
                <a
                  href="https://blackventures.org/blog/ideation/2022/03/16/the-origin-of-ideas/"
                >
                  <img
                    class="object-cover w-96 h-48 overflow-visible"
                    src="https://blackventures.org/blog/images/uploads/origin-of-ideas.jpg"
                    alt="the lean startup"
                  />
                </a>
              </div>
            </div>
            <div class="my-4">
              <a
                href="https://blackventures.org/blog/ideation/2022/03/16/the-origin-of-ideas/"
              >
                <h1 class="text-lg font-semibold hover:underline">
                  The Origin of Ideas
                </h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
