<section
  class="hero px-4 pt-6 pb-12 mx-auto max-w-screen-lg md:pb-16 sm:px-6 lg:px-8"
>
  <div class="relative sm:overflow-hidden">
    <div class="flex flex-col sm:flex-row justify-between sm:space-x-8">
      <div class="flex flex-col">
        <div class="grow">
          <div class="">
            <a
              href="https://blackventures.org/blog/uncategorized/black%20founders/announcements/2022/04/11/meet-cohort-2-of-the-black-seed-accelerator-program/"
            >
              <img
                class="object-cover w-auto sm:h-96 overflow-visible"
                src="https://blackventures.org/blog/images/uploads/clean-work-place-blog-banner.jpg"
                alt="meet the cohorts 2 of the accelerator program"
              />
            </a>
          </div>
        </div>
        <div class="flex flex-row my-2">
          <a href="https://blackventures.org/blog/category/announcements/"
            >Announcement</a
          >
          <div class="mx-2">|</div>
          <a href="https://blackventures.org/blog/category/black-founders/"
            >Black Founders</a
          >
        </div>
        <h2 class="text-2xl font-semibold hover:underline my-2">
          <a
            href="https://blackventures.org/blog/uncategorized/black%20founders/announcements/2022/04/11/meet-cohort-2-of-the-black-seed-accelerator-program/"
          >
            Meet Cohort 2 of The Black Seed Accelerator Program
          </a>
        </h2>
        <p class="text-md">
          Black Business Ventures Association (BBVA) is excited to welcome 17
          Black tech-led Start-ups to Cohort 2.
        </p>
      </div>

      <div class="flex flex-col sm:my-0 my-4">
        <div class="relative border bg-dark-950 my-6 sm:hidden block"></div>
        <div class="flex flex-col">
          <div class="">
            <a
              href="https://blackventures.org/blog/announcements/2022/03/24/bbva-black-seed-accelerator-program-for-black-led-tech-startups/"
            >
              <img
                class="object-cover w-96 h-48 overflow-visible"
                src="https://blackventures.org/blog/images/uploads/bbva-seed-accelerator-program.jpg"
                alt="BBVA black seed accelerator program for black startup"
              />
            </a>
          </div>
          <div class="flex flex-row my-2">
            <a href="https://blackventures.org/blog/category/announcements/"
              >Announcement</a
            >
            <div class="mx-2">|</div>
            <a href="https://blackventures.org/blog/category/startup-program/"
              >Startup Program</a
            >
          </div>
          <div class="flex flex-wrap">
            <h2 class="text-md font-semibold hover:underline my-2">
              <a
                href="https://blackventures.org/blog/announcements/2022/03/24/bbva-black-seed-accelerator-program-for-black-led-tech-startups/"
              >
                BBVA Black Seed Accelerator <br />
                Program for Black-led tech startups
              </a>
            </h2>
          </div>
          <div>
            <p class="text-sm font-semibold">BBVA</p>
          </div>
        </div>

        <div class="relative border bg-dark-950 my-4"></div>

        <div class="flex flex-col mt-4">
          <div class="">
            <a
              href="https://blackventures.org/blog/announcements/2022/02/15/the-black-business-ventures-association-bbva-mwanzo-business-program/"
            >
              <img
                class="object-cover w-96 h-48 overflow-visible"
                src="https://blackventures.org/blog/images/uploads/bbva-mwanzo-business-program.jpg"
                alt="BBVA black seed accelerator program for black startup"
              />
            </a>
          </div>
          <div class="flex flex-row my-2">
            <a href="https://blackventures.org/blog/category/announcements/"
              >Announcement</a
            >
            <div class="mx-2">|</div>
            <a href="https://blackventures.org/blog/category/startup-program/"
              >Startup Program</a
            >
          </div>
          <div class="flex flex-wrap">
            <h2 class="text-md font-semibold hover:underline my-2">
              <a
                href="https://blackventures.org/blog/announcements/2022/03/24/bbva-black-seed-accelerator-program-for-black-led-tech-startups/"
              >
                The Black Business Ventures <br />
                Association (BBVA) Mwanzo Business Program
              </a>
            </h2>
          </div>
          <div>
            <p class="text-sm font-semibold">BBVA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
