<section class='px-4 pt-10 pb-12 md:pt-12 md:pb-16 sm:px-6 lg:px-8 mt-20'>
    <div class='mx-auto w-full max-w-screen-xl'>
  
      <!-- Section text -->
      <div class='mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl'>
        <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
          Requirements
        </p>
        <h2 class='mt-6 text-3xl font-extrabold text-black sm:text-4xl md:text-5xl'>
          Eligibility
        </h2>
        <p class='mt-6 text-xl text-dark-300'>
           
        </p>
      </div>
  
      <!-- Value cards -->
      <div class='grid gap-y-8 mt-12 lg:mt-16 lg:grid-cols-3 lg:gap-x-6 2xl:gap-x-12'>
  
        <!-- Value card -->
        <div class='py-14 px-4 mx-auto w-full max-w-lg rounded-3xl shadow-xl lg:py-16 lg:py-20 bg-dark-700 lg:px-6 xl:px-12'>
          <div class="mx-auto max-w-sm text-center">
            <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-inner w-18 h-18 from-dark-800 to-dark-900'>
              <!-- TablerIcon name: flame -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
              </svg>
              
            </span>
            <div class="mt-8 text-lg font-bold text-black ">
              Black-led 
            </div>
            <p class='mt-3 text-base leading-relaxed text-dark-300'>
              A Black-led founder or co-founder.
            </p>
          </div>
        </div>
  
        <!-- Value card -->
        <div class='py-14 px-4 mx-auto w-full max-w-lg rounded-3xl shadow-xl lg:py-16 lg:py-20 bg-dark-700 lg:px-6 xl:px-12'>
          <div class="mx-auto max-w-sm text-center">
            <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-inner w-18 h-18 from-dark-800 to-dark-900'>
              <!-- TablerIcon name: trending-up -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
              </svg>
              
            </span>
            <div class="mt-8 text-lg font-bold text-black ">
              Prairies-based
            </div>
            <p class='mt-3 text-base leading-relaxed text-dark-300'>
              Startup should be based in Alberta, Saskatchewan or Manitoba.
            </p>
          </div>
        </div>
  
        <!-- Value card -->
        <div class='py-14 px-4 mx-auto w-full max-w-lg rounded-3xl shadow-xl lg:py-16 lg:py-20 bg-dark-700 lg:px-6 xl:px-12'>
          <div class="mx-auto max-w-sm text-center">
            <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-inner w-18 h-18 from-dark-800 to-dark-900'>
              <!-- TablerIcon name: users -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
              </svg>
              
            </span>
            <div class="mt-8 text-lg font-bold text-black ">
              Tech-Driven
            </div>
            <p class='mt-3 text-base leading-relaxed text-dark-300'>
              Technology is a core part of the solution.
            </p>
          </div>
        </div>
        <!-- Value card -->
        <div class='py-14 px-4 mx-auto w-full max-w-lg rounded-3xl shadow-xl lg:py-16 lg:py-20 bg-dark-700 lg:px-6 xl:px-12'>
          <div class="mx-auto max-w-sm text-center">
            <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-inner w-18 h-18 from-dark-800 to-dark-900'>
              <!-- TablerIcon name: flame -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
              </svg>
              
            </span>
            <div class="mt-8 text-lg font-bold text-black ">
              Defined Business Model
            </div>
            <p class='mt-3 text-base leading-relaxed text-dark-300'>
              The founder(s) have identified a transparent business model.
            </p>
          </div>
        </div>
  
        <!-- Value card -->
        <div class='py-14 px-4 mx-auto w-full max-w-lg rounded-3xl shadow-xl lg:py-16 lg:py-20 bg-dark-700 lg:px-6 xl:px-12'>
          <div class="mx-auto max-w-sm text-center">
            <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-inner w-18 h-18 from-dark-800 to-dark-900'>
              <!-- TablerIcon name: trending-up -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              
            </span>
            <div class="mt-8 text-lg font-bold text-black ">
              Commenced Customer Discovery
            </div>
            <p class='mt-3 text-base leading-relaxed text-dark-300'>
              The founder(s) have started initial customer discovery process.
            </p>
          </div>
        </div>
  
        <!-- Value card -->
        <div class='py-14 px-4 mx-auto w-full max-w-lg rounded-3xl shadow-xl lg:py-16 lg:py-20 bg-dark-700 lg:px-6 xl:px-12'>
          <div class="mx-auto max-w-sm text-center">
            <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-inner w-18 h-18 from-dark-800 to-dark-900'>
              <!-- TablerIcon name: users -->
              <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto w-10 h-10 text-dark-300" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="9" cy="7" r="4" />
                <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
              </svg>
            </span>
            <div class="mt-8 text-lg font-bold text-black ">
              Team
            </div>
            <p class='mt-3 text-base leading-relaxed text-dark-300'>
              Have a team consisting of either co-founders or employees.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  