<section class='px-4 pb-10 pb-12 md:pt-12 md:pb-16 sm:px-6 lg:px-8'>
    <div class='mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl mt-20'>
        <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
            FAQ
        </p>
        <h2 class='mt-6 text-3xl font-extrabold text-black sm:text-4xl md:text-5xl'>
          Frequently Asked Question
        </h2>
        <p class='mt-6 text-lg text-dark-300'>
          The most common questions about how our program works and what
                can do for you. 
        </p>
      </div>
    <div>
            <div class="container mx-auto flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2 mt-6">
              <div class="w-full lg:w-1/2 px-4 py-2">
                <details class="mb-4">
                  <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    How does the application process work?
                  </summary>
  
                  <span>
                    We work in 3 phases to access your application.<br />
                Phase 1: Submit your application online.<br />
                Phase 2: Shortlisted teams will participate in a virtual
                interview.<br />
                Phase 3: Selected candidates will be notified ahead of the
                program start date.<br />
                  </span>
                </details>
                <details class="mb-4">
                  <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    How is it Canadian Prairie specific?
                  </summary>
  
                  <span>
                    We’re focused on the Prairie region because there are currently
                    no existing programs for Black tech founders in this region.
                  </span>
                </details>
                <details class="mb-4">
                  <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    Will this be 100% virtual?
                  </summary>
  
                  <span>
                    Yes.
                  </span>
                </details>
                <details class="mb-4">
                  <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    What language will the program be in?
                  </summary>
  
                  <span>
                    English.
                  </span>
                </details>
              </div>
              <div class="w-full lg:w-1/2 px-4 py-2">
                <details class="mb-4">
                  <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    How demanding is the program?
                  </summary>
  
                  <span>
                    We recommend that you allocate 15-20 hours a week to get the
                    most out of the accelerator.
                  </span>
                </details>
              </details>
              <details class="mb-4">
                <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                  Is there a fixed schedule?
                </summary>

                <span>
                  Yes, the program runs from September 13<sup>th</sup>,2022 - November 29<sup>th</sup>, 2022.
                </span>
              </details>
              <details class="mb-4">
                <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                  Do we need to have a team?
                </summary>

                <span>
                  Ideally, we’d prefer that you have a co-founder or another person working with the founder and part of the program. If you already have a multi-disciplinary team of 3-5 people and would like to work together on the same company project, you can participate as a team.
                </span>
              </details>
              <details class="mb-4">
                <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                  What happens after the program?
                </summary>

                <span>
                  We continue to give advice and make introductions as long as our startups need — and so does the informal network of BBVA's companies.
                </span>
              </details>
              </div>
            </div>
          </div>
      </div>
</section>