<footer class="py-12 px-4 md:py-16 bg-gray-300 sm:px-6 lg:px-8 ">
  <div
    class="grid gap-8 mx-auto lg:max-w-screen-xl sm:max-w-3xl md:grid-cols-3 md:gap-y-12 lg:grid-cols-4"
  >
    <!-- Logo and copyright text -->
    <div class="ud-mb-10">
      <div class="flex items-center">
        <a href="index.html" class=" block text-2xl font-black lg:block group">
          <img
            class="object-cover h-12 w-full hover:bg-white"
            src="images/1.png"
            alt="bbva logo"
          />
        </a>
      </div>
      <div class="ud-mb-10">
        <h6 class="text-xl font-semibold text-black">Contact Info</h6>
        <p class="mt-2 text-lg text-dark-300">
          10060 Jasper Avenue, <br />Suite 2020, Tower 1,
          <br />Edmonton, AB T5J 3R8
        </p>
  
        <p class="text-lg text-dark-300">hello@blackventures.ca</p>
      </div>
      
    </div>

    <!-- Contact information -->
    

    <!-- Site links   Company-->
    <div class="ud-mb-10">
      <h6 class="text-xl font-semibold text-black p-2">Company</h6>
      <ul class="mt-2 space-y-1 text-lg">
        <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
          <a href="/organization.html"> About </a>
        </li>
        <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
          <a href="/accelerator.html"> Accelerator </a>
        </li>
        <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
          <a href="/careers.html">Careers</a>
        </li>
        <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
          <a href="https://blackventures.notion.site/Black-Ventures-Privacy-Notice-600ee26cc71245dfadd402e4de22f4c3" target="_blank" rel="noopener noreferrer"> Privacy Notice </a>
        </li>
        <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
          <a href="https://blackventures.notion.site/Black-Ventures-Terms-of-Use-4ff33e8d7c9742808fe7f50bcc2e21dd" target="_blank" rel="noopener noreferrer"> Terms of Use </a>
        </li>
      </ul>
    </div>

    <!-- Site links   Community-->
    <div class="ud-mb-10">
      <h6 class="text-xl font-semibold text-black p-2">Community</h6>
      <ul class="mt-2 space-y-1 text-lg">
        <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
          <a href="https://discord.com/invite/FRuUM2gM" target="_blank"> Founder's Network </a>
        </li>
        <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
          <a href="/index.html"> Black Events </a>
        </li>
        <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
          <a href="/index.html"> Tech Events </a>
        </li>
        <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
          <a href="/index.html"> Startup Jobs Board </a>
        </li>
        <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
          <a href="/index.html"> Startup Resources </a>
        </li>
      </ul>
    </div>
    
        <!-- Site links   Contact-->
        <div class="ud-mb-10">
          <h6 class="text-xl font-semibold text-black p-2">Contact</h6>
          <ul class="mt-2 space-y-1 text-lg">
            <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
              <a href="/contact.html"> Contact us </a> <br>
            </li>
            <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
              <a href="/index.html"> Brand Assets </a> <br>
            </li>
            <li class="font-medium text-dark-300 hover:bg-white rounded-lg p-2">
              <a href="/index.html"> FAQ </a>
            </li>
          </ul>
        </div>
  </div>
  <!-- Social links -->
  <div class="sm:col-span-1 lg:col-span-1 lg:mx-auto mt-6 divide-y divide-black">
    <h6 class="text-xl font-semibold text-black flex justify-center">
      
    </h6>
    <!--<p class='mt-2 text-lg text-dark-300'>
      Lorem ipsum dolor sit amet consect adipis elit.
    </p> -->
    <div class="mt-4 w-full lg:mt-6">
      <!-- Social links container -->
      <div class="flex justify-center space-x-4 mt-6">
        <!-- Instagram -->
        <a
          class="flex justify-center items-center w-12 h-12 rounded-full transition duration-300 ease-in-out bg-gray-300 hover:text-dark-900 hover:bg-gray-300 text-dark-300"
          href="http://www.instagram.com/bbva_canada"
        >
          <!-- TablerIcon name: brand-instagram -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            width="44"
            height="44"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="4" />
            <circle cx="12" cy="12" r="3" />
            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
          </svg>
        </a>

        <!-- Facebook -->
        <a
          class="flex justify-center items-center w-12 h-12 rounded-full transition duration-300 ease-in-out bg-gray-300 hover:text-dark-900 hover:bg-gray-300 text-dark-300"
          href="https://www.facebook.com/Black-Business-Ventures-Association-104095548216324"
        >
          <!-- TablerIcon name: brand-facebook -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            width="44"
            height="44"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
            />
          </svg>
        </a>

        <!-- Instagaram -->
        <a
          class="flex justify-center items-center w-12 h-12 rounded-full transition duration-300 ease-in-out bg-gray-300 hover:text-dark-900 hover:bg-gray-300 text-dark-300"
          href="http://www.twitter.com/bbva_canada"
        >
          <!-- TablerIcon name: brand-twitter -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
          </svg>
        </a>
        <a
              href="https://www.linkedin.com/company/black-ventures-business-association/?viewAsMember=true"
              class="flex justify-center items-center w-12 h-12 rounded-full transition duration-300 ease-in-out bg-gray-300 hover:text-dark-900 hover:bg-gray-300 text-dark-300"
              aria-label="social-link"
              name="social-link"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
              <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
            </svg>
            </a>
      </div>
      <div class="mt-6 text-lg md:mt-8 text-dark-300 flex justify-center">
        &#169; 2022 Black Ventures. All rights reserved.
      </div>
    </div>
  </div>
</footer>
