<section
  class="py-12 px-2 mx-auto max-w-screen-xl md:py-16 sm:px-6 lg:px-8 mt-12"
>
  <div class="flex flex-wrap -mx-4">
    <div class="w-full px-4">
      <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[510px]">
        <h2
          class="inline-flex z-30 justify-center items-center py-2 px-6 text-2xl font-extrabold tracking-wide text-black bg-gradient-to-r rounded-r-full rounded-tl-full from-backup-dark-900 to-backup-dark-800"
        >
          Our Services
        </h2>
        <p class="text-xl text-dark-300 mt-4">
          A short description should go here.
        </p>
      </div>
    </div>
  </div>
  <div class="max-w-6xl mx-auto my-12 bg-white px-8 mt-1">
    <div class="relative block md:flex items-center">
      <div
        class="w-full md:w-1/2 relative z-1 bg-dark-800 rounded-3xl shadow-lg overflow-hidden"
      >
        <div
          class="text-lg font-medium text-black-500 uppercase p-8 text-center border-b border-dark-800 tracking-wide"
        >
          <p class="inline-flex z-30 justify-center items-center py-4 px-8 text-2xl font-extrabold tracking-wide text-black bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-800 to-dark-900 ">
            Consultation
          </p>
        </div>
        <div class="block sm:flex md:block lg:flex items-center justify-center">
          <div
            class="mt-4 mb-8 sm:m-8 md:m-0 md:mt-4 md:mb-8 lg:m-8 text-center"
          >
            <div class="inline-flex items-center">
              <span class="text-3xl font-medium">$200</span>
              <span class="text-xl text-gray-600 ml-2">/</span>
              <span class="text-xl ml-2">Hr</span>
            </div>
          </div>
        </div>
        <div class="flex justify-center mt-3">
          <p class="mt-6 text-xl text-dark-300">
            Consultation on raising grant funding for startup
          </p>
        </div>
        <div
          class="z-30 mt-10 mb-10 sm:flex sm:justify-center lg:justify-center"
        >
          <a
            class="flex justify-center items-center py-4 px-8 w-auto h-14 text-2xl font-semibold leading-snug bg-black rounded-full transition ease-in-out duration-250 text-dark-900 hover:text-black focus:outline-none hover:bg-dark-900"
            href="https://airtable.com/embed/shruCutW0hnb4OKy6?backgroundColor=blue"
          >
            Let's Talk
          </a>
        </div>
      </div>
      <div class="w-full md:w-1/2 relative z-0 px-8 md:px-0 md:py-16">
        <div
          class="bg-dark-800 text-black rounded-3xl shadow-lg overflow-hidden"
        >
          <div
            class="text-lg font-medium uppercase p-8 text-center border-b border-dark-800 tracking-wide"
          >
            <p class="inline-flex z-30 justify-center items-center py-4 px-8 text-2xl font-extrabold tracking-wide text-black bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-800 to-dark-900 ">
              Discuss
            </p>
          </div>
        <div class="flex justify-center mt-3">
          <p class="mt-6 text-xl text-dark-300">
            Book a 15 Minutes session to get you started
          </p>
        </div>
        <div 
          class="z-30 mt-10 mb-10 sm:flex sm:justify-center lg:justify-center"
        >
          <a
            class="flex justify-center items-center py-4 px-8 w-auto h-14 text-2xl font-semibold leading-snug bg-black rounded-full transition ease-in-out duration-250 text-dark-900 hover:text-black focus:outline-none hover:bg-dark-900"
            href="https://airtable.com/embed/shruCutW0hnb4OKy6?backgroundColor=blue"
          >
            Let's Talk
          </a>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>
