<section
  class="px-4 pt-6 pb-12 mx-auto max-w-screen-2xl md:pb-16 sm:px-6 lg:px-8"
>
  <!-- Hero card -->
  <div class="relative rounded-3xl border sm:overflow-hidden bg-dark-950">
    <!-- Hero card content -->
    <div
      class="relative py-14 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:auto-rows-max lg:gap-x-8 xl:gap-x-12 sm:px-6 sm:py-24 lg:px-8"
    >
      <!-- Card content text-->
      <div class="flex flex-col justify-center items-center lg:items-start">
        <p
          data-aos="fade-right"
          data-aos-duration="1000"
          class="inline-flex z-30 justify-center items-center py-2 px-6 text-2xl font-extrabold tracking-wide text-black bg-gradient-to-r rounded-r-full rounded-tl-full from-backup-dark-900 to-backup-dark-800"
        >
          Welcome
        </p>
        <div
          class="z-30 mx-auto mt-6 w-full max-w-lg text-center lg:text-left lg:max-w-none md:max-w-2xl"
        >
          <h1
            class="text-4xl font-extrabold text-black sm:text-4xl md:text-6xl lg:text-5xl xl:text-6xl mt-6"
          >
            4 steps to your profitable idea in 30 days
          </h1>
          <p class="mt-10 text-2xl text-dark-300">
            A high-touch program to <strong>package, plan, profit</strong> and
            <strong>promote</strong> your business idea in 30 days
          </p>
        </div>
      </div>

      <!-- Hero image -->
      <div class="flex mx-auto mt-12 max-w-xl sm:mt-16 lg:mt-0 lg:max-w-none">
        <img
          src="images/accelerator.jpg"
          class="object-cover z-30 w-auto h-full rounded-3xl"
          alt="mwanzo home page"
        />
      </div>
    </div>
    <div
      class="flex justify-center items-center sm:flex-row flex-col sm:px-32 sm:py-10 px-8 py-10 -mt-14"
    >
      <div class="w-full p-6">
        <p class="text-lg font-medium">
          Next program workshop: July 7<sup>th</sup> - July 28<sup>th</sup>,
          2022
        </p>
        <p class="text-lg font-medium">
          Enrollment Closing date: June 17<sup>th</sup>, 2022
        </p>
      </div>
      <div class="w-full p-6">
        <div class="z-30">
          <a
            class="flex justify-center items-center py-8 px-8 w-auto h-14 text-3xl font-semibold leading-snug bg-black rounded-full transition ease-in-out duration-250 text-dark-900 hover:text-black focus:outline-none hover:bg-dark-900"
            href="mwanzoapply.html"
          >
            Enroll Now
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
