<section
  class="px-4 pt-12 pb-10 mx-auto max-w-screen-xl md:pb-12 md:pt-16 sm:px-6 lg:px-8"
>
  <!-- Section text -->
  <div class="mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl">
    <h2 class="mt- text-3xl font-extrabold text-black sm:text-4xl md:text-5xl">
      Do you identify as Black and have a business idea?
    </h2>

    <!-- Hero buttons -->
    <div class="z-30 mt-10 sm:flex sm:justify-center lg:justify-center">
      <a
        class="flex justify-center items-center py-4 px-8 w-auto h-14 text-base font-semibold leading-snug bg-dark-100 rounded-full transition ease-in-out duration-250 text-dark-900 hover:text-black focus:outline-none hover:bg-dark-950"
        href="https://calendly.com/black-business-ventures-association/get-started-with-bbva?month=2021-10"
      >
        Let's Talk
      </a>
    </div>
  </div>

  <!-- Logos -->
  <div class="mx-auto mt-12 max-w-screen-lg lg:mt-14">
    <div class="relative" style="padding-top: 56.25%">
      <iframe
        class="absolute inset-0 w-full h-full"
        src="https://www.youtube-nocookie.com/embed/zODhHP30vMg"
        frameborder="0"
        …
      ></iframe>
    </div>
  </div>
</section>
