<section class='px-4 mx-auto w-full max-w-screen-xl sm:px-6 lg:px-8'>  

    <!-- Section text -->
    <div class='mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl'>
      <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
        Lessons
      </p>
      <h2 class='mt-6 text-3xl font-extrabold sm:text-4xl md:text-5xl'>
        What will you learn?
      </h2>
      <p class='mt-6 text-base text-dark-300'>
        Mwanzo program is designed to provide you with the essential tools and skills to get clarity on your idea and take the following steps to get towards your founder's journey. During the program, we will focus on these critical areas: 
      </p>
    </div>
  
    <!-- Process steps -->
    <div class='grid gap-10 mx-auto mt-12 max-w-xl lg:mt-16 lg:grid-cols-4 lg:grid-x-16 lg:max-w-none'>
  
      <!-- Step-->
      <div class='w-full'>
        <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-xl w-18 h-18 from-dark-600 to-dark-700'>
          <!-- TablerIcon name: clipboard-list -->
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-dark-300" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7" />
            <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3" />
            <line x1="9.7" y1="17" x2="14.3" y2="17" />
          </svg>
        </span>
        <h3 class='mt-5 text-2xl font-semibold text-center'>
          1. Ideation
        </h3>
        <p class='mt-2 text-base leading-relaxed text-center text-dark-300'>
            Learn how to package a business idea that sells and is precisely what customers want and investors like.
        </p>
      </div>
  
      <!-- Step -->
      <div class='w-full'>
        <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-xl w-18 h-18 from-dark-600 to-dark-700'>
          <!-- TablerIcon name: clipboard-list -->
          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-dark-300" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
            <rect x="9" y="3" width="6" height="4" rx="2" />
            <line x1="9" y1="12" x2="9.01" y2="12" />
            <line x1="13" y1="12" x2="15" y2="12" />
            <line x1="9" y1="16" x2="9.01" y2="16" />
            <line x1="13" y1="16" x2="15" y2="16" />
          </svg>
        </span>
  
        <h3 class='mt-5 text-2xl font-semibold text-center'>
          2. Planning
        </h3>
        <p class='mt-2 text-base leading-relaxed text-center text-dark-300'>
            Simplify your vision and establish your goals in a one-page plan for funders and partners.
        </p>
      </div>
  
      <!-- Step -->
      <div class='w-full'>
        <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-xl w-18 h-18 from-dark-600 to-dark-700'>
          <!-- TablerIcon name: rocket -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008zm0 2.25h.008v.008H8.25V13.5zm0 2.25h.008v.008H8.25v-.008zm0 2.25h.008v.008H8.25V18zm2.498-6.75h.007v.008h-.007v-.008zm0 2.25h.007v.008h-.007V13.5zm0 2.25h.007v.008h-.007v-.008zm0 2.25h.007v.008h-.007V18zm2.504-6.75h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V13.5zm0 2.25h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V18zm2.498-6.75h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V13.5zM8.25 6h7.5v2.25h-7.5V6zM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 002.25 2.25h10.5a2.25 2.25 0 002.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0012 2.25z" />
          </svg>
          
        </span>
        <h3 class='mt-5 text-2xl font-semibold text-center'>
          3. Finance
        </h3>
        <p class='mt-2 text-base leading-relaxed text-center text-dark-300'>
            Learn a simple way to create a financial model in 20 minutes without excel magic or an accountant.
        </p>
      </div>

      <!-- Step -->
      <div class='w-full'>
        <span class='flex justify-center items-center mx-auto bg-gradient-to-r rounded-3xl shadow-xl w-18 h-18 from-dark-600 to-dark-700'>
          <!-- TablerIcon name: rocket -->
          <svg xmlns="http://www.w3.org/2000/svg" class='w-10 h-10 text-dark-300' width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3" />
            <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3" />
            <circle cx="15" cy="9" r="1" />
          </svg>
        </span>
        <h3 class='mt-5 text-2xl font-semibold text-center'>
          4. Selling
        </h3>
        <p class='mt-2 text-base leading-relaxed text-center text-dark-300'>
            Learn how to sell your idea to others and let them join you to invest time, money, and effort.
        </p>
      </div>
    </div>
    <div class="mt-6">
          <p class="text-sm">
            Got questions? Get in touch with us <a href="https://calendly.com/black-business-ventures-association/get-started-with-bbva?month=2022-08" class="text-blue-600 vistied:text-purple-600 target:shadow-lg hover:text-hotpink" target="_blank" rel="noopener noreferrer">Lets Talk</a>.
          </p>
        </div>
  </section>
  