<section class='px-4 pb-10 pb-12 md:pt-12 md:pb-16 sm:px-6 lg:px-8'>
    <div class='mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl mt-20'>
        <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
            FAQ
        </p>
        <h2 class='mt-6 text-3xl font-extrabold text-black sm:text-4xl md:text-5xl'>
          Frequently Asked Question
        </h2>
        <p class='mt-6 text-lg text-dark-300'>
          The most common questions about how our program works and what
                can do for you. 
        </p>
      </div>
    <div>
            <div class=" container mx-auto flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2 mt-6">
              <div class="w-full lg:w-1/2 px-4 py-2">
                <details class="mb-4">
                  <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    Do I need to have a business idea?
                  </summary>
  
                  <span>
                    We highly recommend you have a business idea. However, you don't have to have one to participate in the program. Contact us for more information at: <a class="text-blue-600 vistied:text-purple-600 target:shadow-lg hover:text-hotpink" target="_blank" rel="noopener noreferrer" href="mailto:hello@blackventures.ca">hello@blackventures.ca</a>.
                  </span>
                </details>
                <details class="mb-4">
                  <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    How much does this program cost?
                  </summary>
  
                  <span>
                    There is no cost or fee to the program.
                  </span>
                </details>
                <details class="mb-4">
                  <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    How long is the program/ How many hours/ weeks?
                  </summary>
  
                  <span>
                    For live workshops, it is a 4-week program with 2hrs workshop every week, however the hybrid can be completed at your own pace.
                  </span>
                </details>
                <details class="mb-4">
                  <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    What language will the program be in?
                  </summary>
  
                  <span>
                    English.
                  </span>
                </details>
              </div>
              <div class="w-full lg:w-1/2 px-4 py-2">
                <details class="mb-4">
                  <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    I already have a business. Will this work for me? 
                  </summary>
  
                  <span>
                    While we focus on participants with new business ideas, this program can help provide you with new knowledge to ignite your current. 
                  </span>
                </details>
              </details>
              <details class="mb-4">
                <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    Will this program be virtual or in-person?
                </summary>

                <span>
                  Yes, the program is 100% virtual.
                </span>
              </details>
              <details class="mb-4">
                <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                    Are the workshops scheduled during 9-5 working hours?
                </summary>

                <span>
                    The live workshops are delivered in the evening Mountain Time zone to accomodate those
                    working 9 -5
                </span>
              </details>
              <details class="mb-4">
                <summary class="font-semibold  bg-gray-300 rounded-md py-2 px-4">
                  What happens after the program?
                </summary>

                <span>
                  We continue to give advice and make introductions as long as our startups need — and so does the informal network of BBVA's companies.
                </span>
              </details>
              </div>
            </div>
          </div>
      </div>
</section>