<section class='px-4 pb-10 pb-12 md:pt-12 md:pb-16 sm:px-6 lg:px-8 '>

    <!-- Features container -->
    <div class='mx-auto w-full max-w-screen-xl'>
  
      <!-- Feature -->
      <div class='mx-auto max-w-xl md:max-w-2xl lg:max-w-none lg:mx-0 lg:grid lg:grid-cols-3 lg:gap-x-16 xl:gap-x-20 2xl:gap-x-24'>
  
        <!-- Feature text with icons -->
        <div class='col-span-2'>
          <div class='text-center lg:text-left'>
            <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
              Features
            </p>
            <h2 class='mt-6 text-3xl font-extrabold text-black sm:text-4xl md:text-5xl'>
                What do we offer?
            </h2>
            <p class='mt-4 text-base lg:mt-6 text-dark-300'>
                The BBVA's Mwanzo program provides you access to perks and resources to help you take action with your idea. Some perks include: 
            </p>
            <div class='mt-8 grid gap-y-10 w-full sm:grid-cols-2 sm:gap-x-8 sm:gap-y-16'>
                <div class='flex flex-col items-center lg:flex-start lg:items-start'>
                  <div class='flex flex-col items-center sm:flex-row'>
                    <div class="flex justify-center items-center w-12 h-12 bg-gradient-to-r rounded-2xl from-dark-600 to-dark-700">
                      <!-- TablerIcon name: user -->
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
                      </svg>
                    </div>
                    <div class="mt-3 text-lg font-semibold sm:mt-0 sm:ml-3 ">
                        1:1 Coaching with industry experts
                    </div>
                  </div>
                  <p class="mt-1 text-base leading-relaxed sm:mt-3 text-dark-300">
                      Get access to experienced professionals with valuable expertise in the startup community.
                  </p>
                </div>
                <div class='flex flex-col items-center mt-8 sm:mt-0 md:flex-start lg:items-start lg:ml-6'>
                  <div class='flex flex-col items-center sm:flex-row'>
                    <div class="flex justify-center items-center w-12 h-12 bg-gradient-to-r rounded-2xl from-dark-600 to-dark-700">
                      <!-- TabbleIcon name: phone -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-dark-300" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="12" cy="7" r="4" />
                        <circle cx="6.5" cy="17" r="4" />
                        <circle cx="17.5" cy="17" r="4" />
                      </svg>
                    </div>
                    
                    <div class="mt-3 text-lg font-semibold sm:mt-0 sm:ml-3">
                    Community
                    </div>
                  </div>
                  <p class="mt-1 text-base leading-relaxed sm:mt-3 text-dark-300">
                    Meet and network with Black founders who are building impactful businesses.
                  </p>
                </div>
              </div>
              <div class='mt-8 grid gap-y-10 w-full sm:grid-cols-2 sm:gap-x-8 sm:gap-y-16'>
                  <div class='flex flex-col items-center lg:flex-start lg:items-start'>
                    <div class='flex flex-col items-center sm:flex-row'>
                      <div class="flex justify-center items-center w-12 h-12 bg-gradient-to-r rounded-2xl from-dark-600 to-dark-700">
                        <!-- TablerIcon name: user -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                          </svg>                          
                      </div>
                      <div class="mt-3 text-lg font-semibold sm:mt-0 sm:ml-3 ">
                        Robust Programming
                      </div>
                    </div>
                    <p class="mt-1 text-base leading-relaxed sm:mt-3 text-dark-300">
                        Adopt popular startup playbooks used by the leading startups and businesses today.
                    </p>
                  </div>
                  <div class='flex flex-col items-center mt-8 sm:mt-0 md:flex-start lg:items-start lg:ml-6'>
                    <div class='flex flex-col items-center sm:flex-row'>
                      <div class="flex justify-center items-center w-12 h-12 bg-gradient-to-r rounded-2xl from-dark-600 to-dark-700">
                        <!-- TabbleIcon name: phone -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-dark-300" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="9.5" cy="9.5" r="6.5" />
                            <rect x="10" y="10" width="11" height="11" rx="2" />
                          </svg>
                      </div>
                      
                      <div class="mt-3 text-lg font-semibold sm:mt-0 sm:ml-3">
                        Startup resources
                      </div>
                    </div>
                    <p class="mt-1 text-base leading-relaxed sm:mt-3 text-dark-300">
                      Participants in Mwanzo program recieve support to develop landing pages & pitch practice.
                    </p>
                  </div>
                </div>
            </div>
          </div>

        <!-- Feature image -->
        <div class='flex col-span-1 items-center mt-10 lg:mt-0'>
        <div class='relative text-center rounded-3xl shadow-xl w-full pt-3/2'>
          <img class='object-cover object-center absolute top-0 left-0 w-full h-full align-middle rounded-3xl' src='images/black-people.jpg'>
        </div>
      </div>
    </div>
      </div>
    </section>
  