<section
  class="px-4 pt-12 pb-10 mx-auto max-w-screen-xl md:pb-12 md:pt-16 sm:px-6 lg:px-8"
>
  <!-- Section text -->
  <div class='mx-auto w-full text-center max-w-screen-4xl xl:max-w-5xl'>
    <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
      Our Program Partners
    </p>  
    <h1 class='mt-6 max-w-2xl mx-auto text-3xl font-extrabold md:mt-5'>
      
    </h1>
    <p class='mt-6 mx-auto mt-4 max-w-lg text-lg md:mt-5 text-dark-300 md:max-w-3xl'>
      
    </p>
  </div>

  <!-- Logos -->
  <div class="mx-auto mt-12 max-w-screen-lg lg:mt-14 pt-8">
    <div class="grid grid-cols-1 gap-4 md:gap-6 sm:grid-cols-2 lg:grid-cols-3">
      <!-- Item -->
      <a href="https://www.startupedmonton.com/" class="overflow-hidden">
        <div
          class="flex justify-center items-center w-full h-36 transition duration-200 ease-in-out bg-white hover:bg-dark-900 hover:text-black text-dark-400"
        >
          <img
            src="images/startup-edmonton.jpg"
            class="object-cover object-center w-2500 h-747"
            alt="startup edmonton"
          />
        </div>
      </a>

      <!-- Item -->
      <a href="https://leanstack.com/" class="overflow-hidden">
        <div
          class="flex justify-center items-center w-full h-36 transition duration-200 ease-in-out bg-white hover:bg-dark-900 hover:text-black text-dark-400"
        >
          <img
            src="images/leanstack.jpg"
            class="object-cover object-center w-2500 h-747"
            alt="leanstack"
          />
        </div>
      </a>

      <!-- Item -->
      <a href="https://businesslink.ca/" class="overflow-hidden group">
        <div
          class="flex justify-center items-center w-full h-36 transition duration-200 ease-in-out bg-white hover:bg-dark-900 hover:text-black text-dark-400"
        >
          <img
            src="images/business-link.jpg"
            class="object-cover object-center w-2500 h-747"
            alt="business link"
          />
        </div>
      </a>
    </div>

    <div class=' mt-20 mx-auto w-full text-center max-w-screen-4xl xl:max-w-5xl'>
      <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
        Our Funding Partner
      </p>  
      <h1 class='mt-6 max-w-2xl mx-auto text-3xl font-extrabold md:mt-5'>
        
      </h1>
      <p class='mt-6 mx-auto mt-4 max-w-lg text-lg md:mt-5 text-dark-300 md:max-w-3xl'>
        
      </p>
    </div>
      <!-- Item -->
      <a
        href="https://www.canada.ca/en/prairies-economic-development.html"
        class="overflow-hidden group"
      >
        <div
          class="flex justify-center items-center w-full h-36 transition duration-200 ease-in-out bg-white hover:bg-dark-900 hover:text-black text-dark-400"
        >
          <img
            src="images/GC.png"
            class="object-cover object-center w-2500 mt-12 mx-auto"
            alt="canada"
          />
        </div>
      </a>
    </div>
    <!-- <p class='mt-6 text-xl text-dark-300'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
      </p> -->
  </div>
</section>
