<!-- ====== Education Section Start  -->
<section>
    <div class='mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl mt-20'>
        <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-black to-black-700">
          Program timeline
        </p>
      </div>
<div>
    <div
      class=" mt-8 flex flex-col md:grid grid-cols-9 mx-auto p-2 text-black"
    >
      <!-- left -->
      <div class="flex flex-row-reverse md:contents">
        <div
          class="col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md"
        >
          <h3 class="font-semibold text-lg mb-1 text-black">1. Application Open</h3>
          <p class="leading-tight text-justify text-black">
            &nbsp &nbsp May 2nd, 2022
          </p>
        </div>
        <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-1 bg-black pointer-events-none"></div>
          </div>
          <div
            class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-black shadow"
          ></div>
        </div>
      </div>
      <!-- right -->
      <div class="flex md:contents">
        <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-1 bg-black pointer-events-none"></div>
          </div>
          <div
            class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-black shadow"
          ></div>
        </div>
        <div
          class="col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md"
        >
          <h3 class="font-semibold text-lg mb-1 text-black">2. Application close</h3>
          <p class="leading-tight text-justify text-black">
            &nbsp &nbsp August 8th, 2022
          </p>
        </div>
      </div>
      <!-- left -->
      <div class="flex flex-row-reverse md:contents">
        <div
          class="col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md"
        >
          <h3 class="font-semibold text-lg mb-1 text-black">3. Program start</h3>
          <p class="leading-tight text-justify text-black">
            &nbsp &nbsp September 13th, 2022
          </p>
        </div>
        <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-1 bg-black pointer-events-none"></div>
          </div>
          <div
            class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-black shadow"
          ></div>
        </div>
      </div>
            <!-- right -->
      <div class="flex md:contents">
        <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-1 bg-black pointer-events-none"></div>
          </div>
          <div
            class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-black shadow"
          ></div>
        </div>
        <div
          class="col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md"
        >
          <h3 class="font-semibold text-lg mb-1 text-black">4. Program end</h3>
          <p class="leading-tight text-justify text-black">
            &nbsp &nbsp November 29th, 2022
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Education Section End  -->