<section class="px-4 pt-12 pb-14 md:pt-16 md:pb-20 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-screen-xl">
      <!-- Section text -->
      <div class='mx-auto w-full text-center max-w-screen-4xl xl:max-w-5xl'>
        <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
          Our Board
        </p>  
        <h1 class='mt-6 max-w-2xl mx-auto text-3xl font-extrabold md:mt-5'>
          Experienced hands to help drive your growth
        </h1>
        <p class='mt-6 mx-auto mt-4 max-w-lg text-lg md:mt-5 text-dark-300 md:max-w-3xl'>
          
        </p>
        </div>
    
  
      <!-- Team section -->
      <div
        class="grid gap-x-6 gap-y-12 mx-auto mt-12 max-w-6xl lg:mt-16 sm:grid-cols-2 md:grid-cols-4 lg:gap-x-12 lg:gap-y-16"
      >
        <!-- Team member -->
        <div class="flex flex-col items-center">
          <img
            src="images/dipo.jpg"
            class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
            alt="Dipo"
          />
          <div class="mt-4 text-center">
            <div class="text-xl font-semibold text-black">Dipo Alli</div>
            <div class="text-lg font-medium text-dark-400">
              Executive Director
            </div>
            <!-- Social media links -->
            <div class="flex justify-center mt-2 space-x-2">
              <a
                class="flex justify-center items-center w-10 h-10 rounded-full transition duration-300 ease-in-out bg-dark-900 hover:text-dark-900 hover:bg-white text-dark-300"
                href="https://www.linkedin.com/in/oladipupoalli/"
                target="_blank"
                rel="no_referrer"
              >
                <!-- TablerIcon name: brand-linkedin -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-12 h-12"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="white"
                  fill="#0077B5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="4" y="4" width="16" height="16" rx="2" />
                  <line x1="8" y1="11" x2="8" y2="16" />
                  <line x1="8" y1="8" x2="8" y2="8.01" />
                  <line x1="12" y1="16" x2="12" y2="11" />
                  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
              </a>
            </div>
          </div>
        </div>
  
        <!-- Team member -->
        <div class="flex flex-col items-center">
          <img
            src="images/skye.png"
            class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
            alt="Skye"
          />
          <div class="mt-4 text-center">
            <div class="text-xl font-semibold text-black">Skye Kihara</div>
            <div class="text-lg font-medium text-dark-400">
              Head of Programs and Operations
            </div>
            <!-- Social media links -->
            <div class="flex justify-center mt-2 space-x-2">
              <a
                class="flex justify-center items-center w-10 h-10 rounded-full transition duration-300 ease-in-out bg-dark-900 hover:text-dark-900 hover:bg-white text-dark-300"
                href="https://www.linkedin.com/in/skye-kihara-63180b1b8/"
                target="_blank"
                rel="no_referrer"
              >
                <!-- TablerIcon name: brand-linkedin -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-12 h-12"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="white"
                  fill="#0077B5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="4" y="4" width="16" height="16" rx="2" />
                  <line x1="8" y1="11" x2="8" y2="16" />
                  <line x1="8" y1="8" x2="8" y2="8.01" />
                  <line x1="12" y1="16" x2="12" y2="11" />
                  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
              </a>
            </div>
          </div>
        </div>
  
        <!-- Team member -->
        <div class="flex flex-col items-center">
          <img
            src="images/gustave.png"
            class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
            alt="Gustave"
          />
          <div class="mt-4 text-center">
            <div class="text-xl font-semibold text-black">Gustave Siniziziye</div>
            <div class="text-lg font-medium text-dark-400">
              Partnership and Engagements Manager
            </div>
            <!-- Social Media Links -->
            <div class="flex justify-center mt-2 space-x-2">
              <a
                class="flex justify-center items-center w-10 h-10 rounded-full transition duration-300 ease-in-out bg-dark-900 hover:text-dark-900 hover:bg-white text-dark-300"
                href="https://www.linkedin.com/in/gustavesiniziziye"
                target="_blank"
                rel="no_referrer"
              >
                <!-- TablerIcon name: brand-linkedin -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-12 h-12"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="white"
                  fill="#0077B5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="4" y="4" width="16" height="16" rx="2" />
                  <line x1="8" y1="11" x2="8" y2="16" />
                  <line x1="8" y1="8" x2="8" y2="8.01" />
                  <line x1="12" y1="16" x2="12" y2="11" />
                  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <!-- Team member -->
        <div class="flex flex-col items-center">
          <img
            src="images/moustafa.png"
            class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
            alt="Moustafa"
          />
          <div class="mt-4 text-center">
            <div class="text-xl font-semibold text-black">Moustafa Osman</div>
            <div class="text-lg font-medium text-dark-400">
              Program Coordinator
            </div>
            <!-- Social Media Links -->
            <div class="flex justify-center mt-2 space-x-2">
              <a
                class="flex justify-center items-center w-10 h-10 rounded-full transition duration-300 ease-in-out bg-dark-900 hover:text-dark-900 hover:bg-white text-dark-300"
                href="https://www.linkedin.com/in/moustafa-osman-18a51222a"
                target="_blank"
                rel="no_referrer"
              >
                <!-- TablerIcon name: brand-linkedin -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-12 h-12"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="white"
                  fill="#0077B5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="4" y="4" width="16" height="16" rx="2" />
                  <line x1="8" y1="11" x2="8" y2="16" />
                  <line x1="8" y1="8" x2="8" y2="8.01" />
                  <line x1="12" y1="16" x2="12" y2="11" />
                  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
              </a>
            </div>
          </div>
        </div>
  
        
        
      </div>
  
      <!-- Intern section -->
      <div
        class="grid gap-x-6 gap-y-12 mx-auto mt-12 max-w-6xl lg:mt-16 sm:grid-cols-2 md:grid-cols-4 lg:gap-x-12 lg:gap-y-16"
      >
  
      <!-- Team member -->
      <div class="flex flex-col items-center">
        <img
          src="images/natoya_linkedin-removebg-preview.png"
          class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
          alt="Natoya"
        />
        <div class="mt-4 text-center">
          <div class="text-xl font-semibold text-black">Natoya Abiola</div>
          <div class="text-lg font-medium text-dark-400">Program Director</div>
          <!-- Social media links -->
          <div class="flex justify-center mt-2 space-x-2">
            <a
              class="flex justify-center items-center w-10 h-10 rounded-full transition duration-300 ease-in-out bg-dark-900 hover:text-dark-900 hover:bg-white text-dark-300"
              href="https://www.linkedin.com/in/natoya-abiola"
              target="_blank"
              rel="no_referrer"
            >
              <!-- TablerIcon name: brand-linkedin -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-12 h-12"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="white"
                fill="#0077B5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <rect x="4" y="4" width="16" height="16" rx="2" />
                <line x1="8" y1="11" x2="8" y2="16" />
                <line x1="8" y1="8" x2="8" y2="8.01" />
                <line x1="12" y1="16" x2="12" y2="11" />
                <path d="M16 16v-3a2 2 0 0 0 -4 0" />
              </svg>
            </a>
          </div>
        </div>
      </div>
        <!-- Team member -->
        <div class="flex flex-col items-center">
          <img
            src="images/sandra.png"
            class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
            alt="Sandra"
          />
          <div class="mt-4 text-center">
            <div class="text-xl font-semibold text-black">Sandra Emeh</div>
            <div class="text-lg font-medium text-dark-400">
              Marketing Coordinator
            </div>
            <!-- Social media links -->
            <div class="flex justify-center mt-2 space-x-2">
              <a
                class="flex justify-center items-center w-10 h-10 rounded-full transition duration-300 ease-in-out bg-dark-900 hover:text-dark-900 hover:bg-white text-dark-300"
                href="https://www.linkedin.com/in/sandra-emeh-17a28619a/"
                target="_blank"
                rel="no_referrer"
              >
                <!-- TablerIcon name: brand-linkedin -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-12 h-12"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="white"
                  fill="#0077B5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="4" y="4" width="16" height="16" rx="2" />
                  <line x1="8" y1="11" x2="8" y2="16" />
                  <line x1="8" y1="8" x2="8" y2="8.01" />
                  <line x1="12" y1="16" x2="12" y2="11" />
                  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
              </a>
            </div>
          </div>
        </div>
  
        <!-- Team member -->
        <div class="flex flex-col items-center">
          <img
            src="images/zam.png"
            class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
            alt="Zamzam"
          />
          <div class="mt-4 text-center">
            <div class="text-xl font-semibold text-black">Zamzam Ahmed</div>
            <div class="text-lg font-medium text-dark-400">Program Intern</div>
            <!-- Social media links -->
            <div class="flex justify-center mt-2 space-x-2">
              <a
                class="flex justify-center items-center w-10 h-10 rounded-full transition duration-300 ease-in-out bg-dark-900 hover:text-dark-900 hover:bg-white text-dark-300"
                href="https://www.linkedin.com/in/zamzam-ahmed/"
                target="_blank"
                rel="no_referrer"
              >
                <!-- TablerIcon name: brand-linkedin -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-12 h-12"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="white"
                  fill="#0077B5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="4" y="4" width="16" height="16" rx="2" />
                  <line x1="8" y1="11" x2="8" y2="16" />
                  <line x1="8" y1="8" x2="8" y2="8.01" />
                  <line x1="12" y1="16" x2="12" y2="11" />
                  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
              </a>
            </div>
          </div>
        </div>
  
        <!-- Team member -->
        <div class="flex flex-col items-center">
          <img
            src="images/asli.png"
            class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
            alt="Asli"
          />
          <div class="mt-4 text-center">
            <div class="text-xl font-semibold text-black">Asli Mohamed</div>
            <div class="text-lg font-medium text-dark-400">
              Front-End Development Intern
            </div>
            <!-- Social media links -->
            <div class="flex justify-center mt-2 space-x-2">
              <a
                class="flex justify-center items-center w-10 h-10 rounded-full transition duration-300 ease-in-out bg-dark-900 hover:text-dark-900 hover:bg-white text-dark-300"
                href="https://www.linkedin.com/in/asli-mohamed-90a5151a2/"
                target="_blank"
                rel="no_referrer"
              >
                <!-- TablerIcon name: brand-linkedin -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-12 h-12"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="white"
                  fill="#0077B5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="4" y="4" width="16" height="16" rx="2" />
                  <line x1="8" y1="11" x2="8" y2="16" />
                  <line x1="8" y1="8" x2="8" y2="8.01" />
                  <line x1="12" y1="16" x2="12" y2="11" />
                  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
              </a>
            </div>
          </div>
        </div>
  
      
      </div>
  
      <!-- Intern section -->
      <div
        class="place-content-center grid gap-x-6 gap-y-12 mx-auto mt-12 max-w-6xl lg:mt-16 sm:grid-cols-2 md:grid-cols-4 lg:gap-x-12 lg:gap-y-16"
      >
      
        <!-- Team member -->
        <div class="flex flex-col items-center">
          <img
            src="images/ganiyat.png"
            class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
            alt="Ganiyat"
          />
          <div class="mt-4 text-center">
            <div class="text-xl font-semibold text-black">Ganiyat Sadiq</div>
            <div class="text-lg font-medium text-dark-400">Program Intern</div>
            <!-- Social media links -->
            <div class="flex justify-center mt-2 space-x-2">
              <a
                class="flex justify-center items-center w-10 h-10 rounded-full transition duration-300 ease-in-out bg-dark-900 hover:text-dark-900 hover:bg-white text-dark-300"
                href="https://www.linkedin.com/in/ganiyatsadiq"
                target="_blank"
                rel="no_referrer"
              >
                <!-- TablerIcon name: brand-linkedin -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-12 h-12"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="white"
                  fill="#0077B5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="4" y="4" width="16" height="16" rx="2" />
                  <line x1="8" y1="11" x2="8" y2="16" />
                  <line x1="8" y1="8" x2="8" y2="8.01" />
                  <line x1="12" y1="16" x2="12" y2="11" />
                  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
              </a>
            </div>
          </div>
        </div>
  
        <!-- Team member -->
        <div class="flex flex-col items-center">
          <img
            src="images/maryam2.png"
            class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
            alt="Maryam"
          />
          <div class="mt-4 text-center">
            <div class="text-xl font-semibold text-black">Maryam Bouh</div>
            <div class="text-lg font-medium text-dark-400">Program Intern</div>
            <!-- Social media links -->
            <div class="flex justify-center mt-2 space-x-2">
              <a
                class="flex justify-center items-center w-10 h-10 rounded-full transition duration-300 ease-in-out bg-dark-900 hover:text-dark-900 hover:bg-white text-dark-300"
                href="https://www.linkedin.com/in/maryam-bouh/"
                target="_blank"
                rel="no_referrer"
              >
                <!-- TablerIcon name: brand-linkedin -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-12 h-12"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="white"
                  fill="#0077B5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="4" y="4" width="16" height="16" rx="2" />
                  <line x1="8" y1="11" x2="8" y2="16" />
                  <line x1="8" y1="8" x2="8" y2="8.01" />
                  <line x1="12" y1="16" x2="12" y2="11" />
                  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
              </a>
            </div>
          </div>
        </div>
  
        <!-- Team member -->
        <div class="flex flex-col items-center">
          <img
            src="images/munira.png"
            class="object-cover object-center w-64 h-64 rounded-3xl shadow-xl"
            alt="Munira"
          />
          <div class="mt-4 text-center">
            <div class="text-xl font-semibold text-black">
              Munira Mohammed Tofa
            </div>
            <div class="text-lg font-medium text-dark-400">Program Intern</div>
            <!-- Social media links -->
            <div class="flex justify-center mt-2 space-x-2">
              <a
                class="flex justify-center items-center w-10 h-10 rounded-full transition duration-300 ease-in-out bg-dark-900 hover:text-dark-900 hover:bg-white text-dark-300"
                href="https://ca.linkedin.com/in/munira-tofa-b99b8620a?original_referer=https%3A%2F%2Fwww.google.ca%2F"
                target="_blank"
                rel="no_referrer"
              >
                <!-- TablerIcon name: brand-linkedin -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-12 h-12"
                  width="44"
                  height="44"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="white"
                  fill="#0077B5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <rect x="4" y="4" width="16" height="16" rx="2" />
                  <line x1="8" y1="11" x2="8" y2="16" />
                  <line x1="8" y1="8" x2="8" y2="8.01" />
                  <line x1="12" y1="16" x2="12" y2="11" />
                  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  