
<section class='py-10 px-4 md:py-12 bg-white sm:px-6 lg:px-8'>

    <!-- Section text -->
    <div class='mx-auto w-full max-w-xl text-center lg:max-w-3xl md:max-w-2xl'>
        <p class="inline-flex justify-center items-center py-2 px-6 text-sm font-medium tracking-wide text-white bg-gradient-to-r rounded-r-full rounded-tl-full from-dark-600 to-dark-700">
          About
        </p>
        <h2 class='mt-6 text-3xl font-extrabold text-black sm:text-4xl md:text-5xl'>
          The Program
        </h2>
        </div>
      </div>
    </div>
  
    <!-- Section content -->
    <div class='grid gap-12 justify-center mx-auto mt-12 w-full lg:grid-cols-2 lg:gap-8 lg:mt-16 lg:max-w-screen-xl xl:max-w-screen-xl lg:justify-start'>
  
      <!-- Features list -->
      <div>
        
        <!-- Item -->
        <div class='w-full'>
          <div class='mx-auto max-w-lg lg:mr-auto xl:mx-auto'>
            <div class='flex relative py-6 px-8 w-full rounded-3xl shadow-xl bg-dark-700 sm:px-10'>
              <div class='text-center sm:flex sm:text-left'>
                <div class='w-full sm:w-1/5'>
                  <div class="flex justify-center items-center mx-auto w-12 h-12 bg-gradient-to-r rounded-2xl text-dark-300 sm:mx-0 from-dark-800 to-dark-900">
                    <!-- TablerIcon name: artboard -->
                      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
                      </svg>
                      
                  </div>
                </div>
                <div class='mt-3 w-full sm:mt-0'>
                  <h5 class='text-lg font-semibold text-black'>
                    100% Virtual Program
                  </h5>
                  <p class='mt-1 text-base text-dark-300'>
                    The accelerator runs virtually for twelve weeks, with weekly workshops, programming, and is delivered in the evening to accommodate our founders.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Item -->
        <div class='mt-8 w-full lg:mt-5 xl:mt-8 2xl:mt-10 xl:pr-18 2xl:pr-28'>
          <div class='mx-auto max-w-lg lg:mr-auto xl:mx-auto'>
            <div class='flex py-6 px-8 w-full rounded-3xl shadow-xl bg-dark-700 sm:px-10'>
              <div class='text-center sm:flex sm:text-left'>
                <div class='w-full sm:w-1/5'>
                  <div class="flex justify-center items-center mx-auto w-12 h-12 bg-gradient-to-r rounded-2xl text-dark-300 sm:mx-0 from-dark-800 to-dark-900">
                    <!-- TablerIcon name: code -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
                    </svg>
                    
                  </div>
                </div>
                <div class='mt-3 w-full sm:mt-0'>
                  <h5 class='text-lg font-semibold text-black'>
                    Paired Coaches
                  </h5>
                  <p class='mt-1 text-base text-dark-300'>
                    As part of BBVA's Seed Accelerator program, selected founders are paired with BBVA coaches to help guide them.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Item -->
        <div class='mt-8 w-full lg:mt-5 xl:mt-8 2xl:mt-10'>
          <div class='mx-auto max-w-lg lg:mr-auto xl:mx-auto'>
            <div class='flex py-6 px-8 w-full rounded-3xl shadow-xl bg-dark-700 sm:px-10'>
              <div class='text-center sm:flex sm:text-left'>
                <div class='w-full sm:w-1/5'>
                  <div class="flex justify-center items-center mx-auto w-12 h-12 bg-gradient-to-r rounded-2xl text-dark-300 sm:mx-0 from-dark-800 to-dark-900">
                    <!-- TablerIcon name: tool -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    
                  </div>
                </div>
                <div class='mt-3 w-full sm:mt-0'>
                  <h5 class='text-lg font-semibold text-black'>
                    Equity Free
                  </h5>
                  <p class='mt-1 text-base text-dark-300'>
                    The program is at no cost to you and is Equity Free.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Image collage -->
      <div class='flex justify-center items-center max-w-screen-md lg:max-w-full'>
        <div class='grid grid-rows-2 grid-flow-col gap-4 h-full'>
          <div class='row-span-2 rounded-3xl shadow-xl'>
            <img src='images/BBVA_program participants_3.jpg' class='object-cover w-full h-full rounded-3xl position-right'>
          </div>
          <div class='rounded-3xl shadow-xl'>
            <img src='images/BBVA_program participants_1.jpg' class='object-cover w-full h-full rounded-3xl position-center'>
          </div>
          <div class='rounded-3xl shadow-xl'>
            <img src='images/BBVA_program participants_2.jpg' class='object-cover w-full h-full rounded-3xl position-center'>
          </div>
        </div>
      </div>
    </div>
  </section>
  